
      <div class="footer">
        <div class="container-2">
          <div class="links-and-newsletter">
            <div class="frame-21">
              <div class="frame-22">
                <div class="div-2">
                  <div class="heading">COURSES</div>
                  <div class="links">
                    <div class="footers-text-link"><p class="text-wrapper-22">2 Year online MBA General</p></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">Certificate in HRM</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">Certificate in Marketing</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">Certificate in Finance</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">Corporate Programs</div></div>
                  </div>
                </div>
                <div class="div-2">
                  <div class="heading">CALL CENTER</div>
                  <div class="div-4">
                    <div class="footers-text-link"><div class="text-wrapper-22">0811 1084 800</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">(021) 24579999 Ext. 62024</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">(021) 4603931</div></div>
                    <div class="img-2"></div>
                  </div>
                </div>
                <div class="div-2">
                  <div class="heading">ABOUT US</div>
                  <div class="div-4">
                    <div class="footers-text-link"><div class="text-wrapper-22">UTSchool of institution</div></div>
                    <div class="footers-text-link">
                      <div class="text-wrapper-22">Our Institutes and Universities</div>
                    </div>
                    <div class="footers-text-link"><div class="text-wrapper-22">Management Team</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">Approval and Recognition</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">valuation &amp; Assesment</div></div>
                  </div>
                </div>
              </div>
              <div class="newsletter">
                <div class="div-4">
                  <div class="heading-2">SUBSCRIBE TO OUR NEWSLETTER</div>
                  <p class="supporting-text">The latest news, articles, and resources, sent to your inbox weekly.</p>
                </div>
                <div class="footers-subscribe">
                  <div class="footers-text-input"><div class="text-wrapper-22"><input type="text" placeholder="Enter your email" style="border: none;"></div></div>
                  <button style="background-color: transparent; border: none;"><div class="footers-submit"><div class="text">Subscribe</div></div></button>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="footer-2">
            <div class="top-border"></div>
            <div class="social-links-and">
              <p class="copyright">
                <span class="text-wrapper-23">© 2023 </span>
                <span class="text-wrapper-24">Vocatic Powered By UT School</span>
              </p>
              <img class="img-2" src="img/footer-social-links.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
