<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="vocatic-home-screen">
      <div class="div">
        <div class="navbar">
          <div class="container">
            <div class="content">
              <img class="image" src="img/image-1.png" />
              <div class="trailing-content">
                <img class="group" src="img/group-239.png" />
                <img class="group" src="img/group-34397.png" />
                <button class="button"><div class="title-XL"><a href="/login" style="color: white;">Log In</a></div></button>
                <button class="button-2"><div class="title-XL"><a href="/signup" style="color: white;">Sign Up</a></div></button>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-bar">
          <div class="navbar-2">
            <div class="frame"><div class="text-wrapper">Home</div></div>
            <div class="text-wrapper-2">Study Method</div>
            <div class="text-wrapper-2">Facility</div>
            <div class="text-wrapper-2">Blog</div>
            <div class="text-wrapper-2">Webinar</div>
            <div class="text-wrapper-2">About us</div>
          </div>
        </div>
      </div>