:root {
  --navbar-banner: rgba(102, 102, 102, 1);
  --primary: rgba(234, 190, 13, 1);
  --secondary: rgba(44, 151, 234, 1);
  --third: rgba(78, 200, 35, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-1: rgba(249, 250, 252, 1);
  --text-2: rgba(184, 191, 201, 1);
  --text-3: rgba(121, 121, 121, 1);
  --text-black: rgba(32, 32, 32, 1);
  --footer: rgba(51, 51, 51, 1);
  --danger: rgba(219, 51, 31, 1);
  --text-500: rgba(121, 121, 121, 1);
  --text-900: rgba(32, 32, 32, 1);
  --background-400: rgba(238, 238, 238, 1);
  --success-200: rgba(198, 247, 170, 1);
  --danger-600: rgba(219, 51, 31, 1);
  --text-300: rgba(166, 166, 166, 1);
  --text-200: rgba(210, 210, 210, 1);
  --surface-300: rgba(242, 245, 248, 1);
  --surface-100: rgba(255, 255, 255, 1);
  --label3-16-medium-font-family: "Inter-Medium", Helvetica;
  --label3-16-medium-font-weight: 500;
  --label3-16-medium-font-size: 16px;
  --label3-16-medium-letter-spacing: -0.30000001192092896px;
  --label3-16-medium-line-height: 139.9999976158142%;
  --label3-16-medium-font-style: normal;
  --sub-heading4-24-medium-font-family: "Inter-Medium", Helvetica;
  --sub-heading4-24-medium-font-weight: 500;
  --sub-heading4-24-medium-font-size: 24px;
  --sub-heading4-24-medium-letter-spacing: -0.5px;
  --sub-heading4-24-medium-line-height: 120.00000476837158%;
  --sub-heading4-24-medium-font-style: normal;
  --label2-18-semibold-font-family: "Inter-SemiBold", Helvetica;
  --label2-18-semibold-font-weight: 600;
  --label2-18-semibold-font-size: 18px;
  --label2-18-semibold-letter-spacing: -0.30000001192092896px;
  --label2-18-semibold-line-height: 139.9999976158142%;
  --label2-18-semibold-font-style: normal;
  --label4-14-medium-font-family: "Inter-Medium", Helvetica;
  --label4-14-medium-font-weight: 500;
  --label4-14-medium-font-size: 14px;
  --label4-14-medium-letter-spacing: -0.20000000298023224px;
  --label4-14-medium-line-height: 139.9999976158142%;
  --label4-14-medium-font-style: normal;
  --label4-14-bold-font-family: "Inter-Bold", Helvetica;
  --label4-14-bold-font-weight: 700;
  --label4-14-bold-font-size: 14px;
  --label4-14-bold-letter-spacing: -0.20000000298023224px;
  --label4-14-bold-line-height: 139.9999976158142%;
  --label4-14-bold-font-style: normal;
  --label2-18-medium-font-family: "Inter-Medium", Helvetica;
  --label2-18-medium-font-weight: 500;
  --label2-18-medium-font-size: 18px;
  --label2-18-medium-letter-spacing: -0.30000001192092896px;
  --label2-18-medium-line-height: 139.9999976158142%;
  --label2-18-medium-font-style: normal;
  --label4-14-regular-font-family: "Inter-Regular", Helvetica;
  --label4-14-regular-font-weight: 400;
  --label4-14-regular-font-size: 14px;
  --label4-14-regular-letter-spacing: -0.20000000298023224px;
  --label4-14-regular-line-height: 139.9999976158142%;
  --label4-14-regular-font-style: normal;
  --label3-16-regular-font-family: "Inter-Regular", Helvetica;
  --label3-16-regular-font-weight: 400;
  --label3-16-regular-font-size: 16px;
  --label3-16-regular-letter-spacing: -0.30000001192092896px;
  --label3-16-regular-line-height: 139.9999976158142%;
  --label3-16-regular-font-style: normal;
}
