<%- include('../template/header')-%>

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="about-us-section">
      
      <img class="header-section" src="img/header-section.png" />
      <div class="info-help">
        <div class="div-2">
          <div class="frame-2">
            <div class="frame-3">
              <div class="text-wrapper-3">Our Vision</div>
              <p class="p">
                The educational institution mechanical skills and equipment operator - heavy equipment in the world.
              </p>
            </div>
            <p class="text-wrapper-4">
              Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            </p>
          </div>
          <div class="frame-4">
            <div class="frame-3">
              <div class="text-wrapper-3">Our Mission</div>
              <p class="text-wrapper-5">“Create quality human resources, professional and internationally-minded.”</p>
            </div>
            <p class="text-wrapper-6">
              Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            </p>
          </div>
        </div>
      </div>
      <div class="selection-box">
        <div class="frame-5">
          <div class="frame-6">
            <div class="rectangle"></div>
            <div class="text-wrapper-7">What Makes Vocatic Better?</div>
          </div>
          <p class="lorem-ipsum-bla-bla">
            <span class="span"
              >Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla <br />bla bla bla bla bla
              bla bla bla
            </span>
          </p>
        </div>
        <div class="overlap">
          <div class="rectangle-2"></div>
          <img class="img" src="img/rectangle-150978.png" />
          <div class="frame-7">
            <div class="text-wrapper-8">Our Instructor</div>
            <p class="text-wrapper-9">
              Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
              bla bla bla bla
            </p>
          </div>
          <img class="icon-px-2" src="img/icon-24-px-chevronright.svg" />
          <img class="icon-px-3" src="img/icon-24-px-chevronleft.svg" />
          <div class="overlap-group-wrapper">
            <div class="overlap-group-2">
              <div class="ellipse-2"></div>
              <img class="icon-px-play" src="img/icon-24-px-play.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="locations">
        <div class="container-2">
          <div class="heading">Locations</div>
          <div class="contacts">
            <div class="contact">
              <div class="title">United Tractor</div>
              <div class="div-3"><p class="email">Jatinegara, Jl. Raya Bekasi KM.22, RT.7/RW.1, Cakung Bar.</p></div>
            </div>
            <div class="contact">
              <div class="title">United Tractor</div>
              <div class="div-3"><p class="email">Jatinegara, Jl. Raya Bekasi KM.22, RT.7/RW.1, Cakung Bar.</p></div>
            </div>
            <div class="contact">
              <div class="title">United Tractor</div>
              <div class="div-3"><p class="email">Jatinegara, Jl. Raya Bekasi KM.22, RT.7/RW.1, Cakung Bar.</p></div>
            </div>
            <div class="contact">
              <div class="title">United Tractor</div>
              <div class="div-3"><p class="email">Jatinegara, Jl. Raya Bekasi KM.22, RT.7/RW.1, Cakung Bar.</p></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container-3">
          <div class="links-and-newsletter">
            <div class="frame-8">
              <div class="frame-9">
                <div class="footers-column">
                  <div class="heading-2">COURSES</div>
                  <div class="links">
                    <div class="footers-text-link"><p class="text-wrapper-10">2 Year online MBA General</p></div>
                    <div class="footers-text-link"><div class="text-wrapper-10">Certificate in HRM</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-10">Certificate in Marketing</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-10">Certificate in Finance</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-10">Corporate Programs</div></div>
                  </div>
                </div>
                <div class="footers-column">
                  <div class="heading-2">CALL CENTER</div>
                  <div class="div-4">
                    <div class="footers-text-link"><div class="text-wrapper-10">0811 1084 800</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-10">(021) 24579999 Ext. 62024</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-10">(021) 4603931</div></div>
                    <div class="footer-social-links"></div>
                  </div>
                </div>
                <div class="footers-column">
                  <div class="heading-2">ABOUT US</div>
                  <div class="div-4">
                    <div class="footers-text-link"><div class="text-wrapper-10">UTSchool of institution</div></div>
                    <div class="footers-text-link">
                      <div class="text-wrapper-10">Our Institutes and Universities</div>
                    </div>
                    <div class="footers-text-link"><div class="text-wrapper-10">Management Team</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-10">Approval and Recognition</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-10">valuation &amp; Assesment</div></div>
                  </div>
                </div>
              </div>
              <div class="newsletter">
                <div class="div-4">
                  <div class="heading-3">SUBSCRIBE TO OUR NEWSLETTER</div>
                  <p class="supporting-text">The latest news, articles, and resources, sent to your inbox weekly.</p>
                </div>
                <div class="footers-subscribe">
                  <div class="footers-text-input"><div class="text-wrapper-10">Enter your email</div></div>
                  <div class="footers-submit"><div class="text">Subscribe</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="div-3">
            <div class="top-border"></div>
            <div class="social-links-and">
              <p class="copyright">
                <span class="text-wrapper-11">© 2023 </span>
                <span class="text-wrapper-12">Vocatic Powered By UT School</span>
              </p>
              <img class="footer-social-links" src="img/footer-social-links.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
