<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="blog-section">
      <div class="nav-bar">
        <div class="navbar">
          <div class="container">
            <div class="content">
              <img class="image" src="img/image-1.png" />
              <div class="trailing-content">
                <div class="group">
                  <div class="overlap-group">
                    <img class="material-symbols" src="img/material-symbols-language.svg" />
                    <div class="ellipse"></div>
                  </div>
                </div>
                <div class="icon-px-wrapper"><img class="icon-px" src="img/icon-24-px-shoppingcart.svg" /></div>
                <button class="button"><div class="title-XL"><a href="/login" style="color: white;"><a href="/login" style="color: white;">Log In</a></a></div></button>
                <button class="div"><div class="title-XL"><a href="/signup" style="color: white;"><a href="/signup" style="color: white;">Sign Up</a></a></div></button>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-wrapper">
          <div class="navbar-2">
            <div class="text-wrapper"><a href="/home" style="color: white;">Home</a></div>
            <div class="text-wrapper"><a href="/studymethod" style="color: white;">Study Method</a></div>
            <div class="text-wrapper"><a href="/facility" style="color: white;">Facility</a></div>
            <div class="frame"><div class="text-wrapper-2"><a href="/blog" style="color: white;">Blog</a></div></div>
            <div class="text-wrapper"><a href="/webinar" style="color: white;">Webinar</a></div>
            <div class="text-wrapper"><a href="/aboutus" style="color: white;">About us</a></div>
          </div>
        </div>
      </div>
      <div class="header-section">
        <div class="overlap">
          <div class="plate"></div>
          <img class="shared-dot-pattern" src="img/shared-dot-pattern.svg" />
          <div class="content-wrapper">
            <div class="overlap-wrapper">
              <div class="overlap-2">
                <div class="media-content">
                  <div class="media">
                    <div class="play-icon-wrapper"><img class="play-icon" src="img/play-icon.svg" /></div>
                  </div>
                </div>
                <div class="leading-content">
                  <div class="text">
                    <div class="eyebrow-and-heading">
                      <div class="eyebrow">BLOGS</div>
                      <p class="heading">Lorem Ipsum bla bla bla bla</p>
                    </div>
                    <p class="supporting-text">
                      Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                      bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                    </p>
                  </div>
                  <div class="sign-up">
                    <p class="p">Catch up to the Latest Blog Sent to Your Inbox</p>
                    <div class="div-2">
                      <div class="input-with-hidden">
                        <div class="form-fields-text"><div class="placeholder">Enter your email</div></div>
                      </div>
                      <div class="hero-sections-submit"><div class="text-2">Notify me</div></div>
                    </div>
                    <p class="notice">
                      <span class="span">We care about the protection of your data. Read our </span>
                      <span class="text-wrapper-3">Privacy Policy</span>
                      <span class="span">.</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-help">
        <div class="leading-content-2">
          <p class="heading-2">Lorem Ipsum bla bla bla bla bla</p>
          <p class="supporting-text-2">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus repellat laudantium.
          </p>
        </div>
        <div class="overlap-group-wrapper">
          <div class="overlap-group-2">
            <div class="plate-2"></div>
            <div class="stats">
              <div class="stats-stat">
                <div class="left-border"></div>
                <div class="content-2">
                  <div class="amount">-0-</div>
                  <div class="label">Type here</div>
                </div>
              </div>
              <div class="stats-stat">
                <div class="left-border"></div>
                <div class="content-2">
                  <div class="amount">-0-</div>
                  <div class="label">Type here</div>
                </div>
              </div>
              <div class="stats-stat">
                <div class="content-3">
                  <div class="amount">-0-</div>
                  <div class="label">Type here</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="selection-box">
        <div class="frame-2">
          <div class="banner-image"></div>
          <div class="frame-wrapper">
            <div class="frame-3">
              <div class="frame-4">
                <div class="frame-4">
                  <div class="text-wrapper-4">Lorem Ipsum bla bla</div>
                  <div class="text-wrapper-5">Lorem Ipsum bla bla</div>
                </div>
                <p class="lorem-ipsum-bla-bla">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla&nbsp;&nbsp;<br />bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla
                </p>
              </div>
              <div class="frame-5">
                <div class="frame-6">
                  <img class="img" src="img/octicon-person-24.svg" />
                  <div class="text-wrapper-6">Name</div>
                </div>
                <div class="frame-6">
                  <img class="img" src="img/icon-park-outline-time-9.svg" />
                  <div class="text-wrapper-6">Time</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-7">
          <div class="div-3"></div>
          <div class="div-wrapper">
            <div class="frame-8">
              <div class="frame-4">
                <div class="frame-4">
                  <div class="text-wrapper-4">Lorem Ipsum bla bla</div>
                  <div class="text-wrapper-5">Lorem Ipsum bla bla</div>
                </div>
                <p class="lorem-ipsum-bla-bla-2">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla&nbsp;&nbsp;bla
                  bla bla bla bla bla bla bla&nbsp;&nbsp;bla bla bla bla bla
                </p>
              </div>
              <div class="frame-5">
                <div class="frame-6">
                  <img class="img" src="img/octicon-person-24-1.svg" />
                  <div class="text-wrapper-6">Name</div>
                </div>
                <div class="frame-6">
                  <img class="img" src="img/icon-park-outline-time-1.svg" />
                  <div class="text-wrapper-6">Time</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-9">
          <div class="div-3"></div>
          <div class="div-wrapper">
            <div class="frame-8">
              <div class="frame-4">
                <div class="frame-4">
                  <div class="text-wrapper-4">Lorem Ipsum bla bla</div>
                  <div class="text-wrapper-5">Lorem Ipsum bla bla</div>
                </div>
                <p class="lorem-ipsum-bla-bla-2">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla&nbsp;&nbsp;bla
                  bla bla bla bla bla bla bla&nbsp;&nbsp;bla bla bla bla bla
                </p>
              </div>
              <div class="frame-5">
                <div class="frame-6">
                  <img class="img" src="img/octicon-person-24-1.svg" />
                  <div class="text-wrapper-6">Name</div>
                </div>
                <div class="frame-6">
                  <img class="img" src="img/icon-park-outline-time-1.svg" />
                  <div class="text-wrapper-6">Time</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-10">
          <div class="banner-image-2"></div>
          <div class="frame-11">
            <div class="frame-8">
              <div class="frame-4">
                <div class="frame-4">
                  <div class="text-wrapper-4">Lorem Ipsum bla bla</div>
                  <div class="text-wrapper-5">Lorem Ipsum bla bla</div>
                </div>
                <p class="lorem-ipsum-bla-bla-3">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla&nbsp;&nbsp;bla
                  bla bla bla bla bla bla bla&nbsp;&nbsp;bla bla bla bla bla
                </p>
              </div>
              <div class="frame-5">
                <div class="frame-6">
                  <img class="img" src="img/octicon-person-24.svg" />
                  <div class="text-wrapper-6">Name</div>
                </div>
                <div class="frame-6">
                  <img class="img" src="img/icon-park-outline-time-3.svg" />
                  <div class="text-wrapper-6">Time</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-12">
          <div class="banner-image-2"></div>
          <div class="frame-11">
            <div class="frame-8">
              <div class="frame-4">
                <div class="frame-4">
                  <div class="text-wrapper-4">Lorem Ipsum bla bla</div>
                  <div class="text-wrapper-5">Lorem Ipsum bla bla</div>
                </div>
                <p class="lorem-ipsum-bla-bla-3">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla&nbsp;&nbsp;bla
                  bla bla bla bla bla bla bla&nbsp;&nbsp;bla bla bla bla bla
                </p>
              </div>
              <div class="frame-5">
                <div class="frame-6">
                  <img class="img" src="img/octicon-person-24.svg" />
                  <div class="text-wrapper-6">Name</div>
                </div>
                <div class="frame-6">
                  <img class="img" src="img/icon-park-outline-time-3.svg" />
                  <div class="text-wrapper-6">Time</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-13">
          <div class="banner-image-2"></div>
          <div class="frame-11">
            <div class="frame-8">
              <div class="frame-4">
                <div class="frame-4">
                  <div class="text-wrapper-4">Lorem Ipsum bla bla</div>
                  <div class="text-wrapper-5">Lorem Ipsum bla bla</div>
                </div>
                <p class="lorem-ipsum-bla-bla-3">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla&nbsp;&nbsp;bla
                  bla bla bla bla bla bla bla&nbsp;&nbsp;bla bla bla bla bla
                </p>
              </div>
              <div class="frame-5">
                <div class="frame-6">
                  <img class="img" src="img/octicon-person-24.svg" />
                  <div class="text-wrapper-6">Name</div>
                </div>
                <div class="frame-6">
                  <img class="img" src="img/icon-park-outline-time-3.svg" />
                  <div class="text-wrapper-6">Time</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-14">
          <div class="banner-image-2"></div>
          <div class="frame-11">
            <div class="frame-8">
              <div class="frame-4">
                <div class="frame-4">
                  <div class="text-wrapper-4">Lorem Ipsum bla bla</div>
                  <div class="text-wrapper-5">Lorem Ipsum bla bla</div>
                </div>
                <p class="lorem-ipsum-bla-bla-3">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla&nbsp;&nbsp;bla
                  bla bla bla bla bla bla bla&nbsp;&nbsp;bla bla bla bla bla
                </p>
              </div>
              <div class="frame-5">
                <div class="frame-6">
                  <img class="img" src="img/octicon-person-24.svg" />
                  <div class="text-wrapper-6">Name</div>
                </div>
                <div class="frame-6">
                  <img class="img" src="img/icon-park-outline-time-3.svg" />
                  <div class="text-wrapper-6">Time</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-15">
          <div class="div-3"></div>
          <div class="div-wrapper">
            <div class="frame-8">
              <div class="frame-4">
                <div class="frame-4">
                  <div class="text-wrapper-4">Lorem Ipsum bla bla</div>
                  <div class="text-wrapper-5">Lorem Ipsum bla bla</div>
                </div>
                <p class="lorem-ipsum-bla-bla-2">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla&nbsp;&nbsp;bla
                  bla bla bla bla bla bla bla&nbsp;&nbsp;bla bla bla bla bla
                </p>
              </div>
              <div class="frame-5">
                <div class="frame-6">
                  <img class="img" src="img/octicon-person-24-1.svg" />
                  <div class="text-wrapper-6">Name</div>
                </div>
                <div class="frame-6">
                  <img class="img" src="img/icon-park-outline-time-1.svg" />
                  <div class="text-wrapper-6">Time</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-16">
          <div class="div-3"></div>
          <div class="div-wrapper">
            <div class="frame-8">
              <div class="frame-4">
                <div class="frame-4">
                  <div class="text-wrapper-4">Lorem Ipsum bla bla</div>
                  <div class="text-wrapper-5">Lorem Ipsum bla bla</div>
                </div>
                <p class="lorem-ipsum-bla-bla-2">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla&nbsp;&nbsp;bla
                  bla bla bla bla bla bla bla&nbsp;&nbsp;bla bla bla bla bla
                </p>
              </div>
              <div class="frame-5">
                <div class="frame-6">
                  <img class="img" src="img/octicon-person-24-1.svg" />
                  <div class="text-wrapper-6">Name</div>
                </div>
                <div class="frame-6">
                  <img class="img" src="img/icon-park-outline-time-1.svg" />
                  <div class="text-wrapper-6">Time</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-17">
          <div class="banner-image"></div>
          <div class="frame-wrapper">
            <div class="frame-3">
              <div class="frame-4">
                <div class="frame-4">
                  <div class="text-wrapper-4">Lorem Ipsum bla bla</div>
                  <div class="text-wrapper-5">Lorem Ipsum bla bla</div>
                </div>
                <p class="lorem-ipsum-bla-bla">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla&nbsp;&nbsp;<br />bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla
                </p>
              </div>
              <div class="frame-5">
                <div class="frame-6">
                  <img class="img" src="img/octicon-person-24.svg" />
                  <div class="text-wrapper-6">Name</div>
                </div>
                <div class="frame-6">
                  <img class="img" src="img/icon-park-outline-time.svg" />
                  <div class="text-wrapper-6">Time</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-18"><div class="text-wrapper-7">Load More</div></div>
      </div>
      <div class="footer">
        <div class="container-2">
          <div class="links-and-newsletter">
            <div class="frame-19">
              <div class="frame-20">
                <div class="footers-column">
                  <div class="heading-3">COURSES</div>
                  <div class="links">
                    <div class="footers-text-link"><p class="text-wrapper-8">2 Year online MBA General</p></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">Certificate in HRM</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">Certificate in Marketing</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">Certificate in Finance</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">Corporate Programs</div></div>
                  </div>
                </div>
                <div class="footers-column">
                  <div class="heading-3">CALL CENTER</div>
                  <div class="div-4">
                    <div class="footers-text-link"><div class="text-wrapper-8">0811 1084 800</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">(021) 24579999 Ext. 62024</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">(021) 4603931</div></div>
                    <div class="footer-social-links"></div>
                  </div>
                </div>
                <div class="footers-column">
                  <div class="heading-3">ABOUT US</div>
                  <div class="div-4">
                    <div class="footers-text-link"><div class="text-wrapper-8">UTSchool of institution</div></div>
                    <div class="footers-text-link">
                      <div class="text-wrapper-8">Our Institutes and Universities</div>
                    </div>
                    <div class="footers-text-link"><div class="text-wrapper-8">Management Team</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">Approval and Recognition</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">valuation &amp; Assesment</div></div>
                  </div>
                </div>
              </div>
              <div class="newsletter">
                <div class="div-4">
                  <div class="heading-4">SUBSCRIBE TO OUR NEWSLETTER</div>
                  <p class="supporting-text-3">The latest news, articles, and resources, sent to your inbox weekly.</p>
                </div>
                <div class="div-2">
                  <div class="footers-text-input"><div class="text-wrapper-8">Enter your email</div></div>
                  <div class="footers-submit"><div class="text-3">Subscribe</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-2">
            <div class="top-border"></div>
            <div class="social-links-and">
              <p class="copyright">
                <span class="text-wrapper-9">© 2023 </span>
                <span class="text-wrapper-10">Vocatic Powered By UT School</span>
              </p>
              <img class="footer-social-links" src="img/footer-social-links.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
