<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="detail-course">
      <div class="div">
        <div class="frame">
          <div class="frame-wrapper">
            <div class="frame-2">
              <div class="frame-3">
                <div class="div-wrapper"><div class="text-wrapper">IDR 799,000</div></div>
                <div class="frame-4">
                  <div class="text-wrapper-2">IDR 999,000</div>
                  <div class="frame-5"><div class="text-wrapper-3">15% Off</div></div>
                </div>
              </div>
              <div class="frame-3">
                <button class="button"><div class="title-XL">Add to cart</div></button>
                <button class="button-2"><div class="title-XL-2">Buy now</div></button>
              </div>
            </div>
          </div>
          <div class="div-2">
            <div class="text-wrapper-4">This course Includes:</div>
            <div class="div-2">
              <div class="frame-6">
                <img class="img" src="img/icon.svg" />
                <p class="text-wrapper-5">12.3 Hours on demand video</p>
              </div>
              <div class="frame-6">
                <img class="img" src="img/icon-11.svg" />
                <div class="text-wrapper-5">123 Articles</div>
              </div>
              <div class="frame-6">
                <img class="img" src="img/icon-10.svg" />
                <div class="text-wrapper-5">123 Downloadable Resources</div>
              </div>
              <div class="frame-6">
                <img class="img" src="img/icon-9.svg" />
                <div class="text-wrapper-5">Full lifetime access</div>
              </div>
              <div class="frame-6">
                <img class="img" src="img/icon-24-px-stack.svg" />
                <div class="text-wrapper-5">Assignment</div>
              </div>
              <div class="frame-6">
                <img class="img" src="img/icon-8.svg" />
                <div class="text-wrapper-5">Certificate of completion</div>
              </div>
            </div>
          </div>
          <div class="div-3">
            <div class="text-wrapper-4">About the instructor</div>
            <div class="frame-7">
              <img class="ellipse" src="img/ellipse-209.png" />
              <div class="frame-8">
                <div class="frame-9">
                  <div class="text-wrapper-6">Name Here!</div>
                  <div class="text-wrapper-7">Jobs Here!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-10">
          <div class="frame-2"><p class="p">Lorem Ipsum Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla</p></div>
          <div class="frame-4">
            <div class="frame-11">
              <div class="frame-5"><div class="text-wrapper-8">E-Learning</div></div>
            </div>
            <div class="frame-6">
              <div class="text-wrapper-9">4.9</div>
              <img class="img-2" src="img/frame-34619-1.svg" />
            </div>
          </div>
        </div>
        <div class="frame-12">
          <div class="frame-9">
            <div class="text-wrapper-10">Last Updates</div>
            <div class="text-wrapper-11">Aug 2022</div>
          </div>
          <div class="frame-9">
            <div class="text-wrapper-10">Level</div>
            <div class="text-wrapper-11">Advanced</div>
          </div>
          <div class="frame-9">
            <div class="text-wrapper-10">Students</div>
            <div class="text-wrapper-11">149,558</div>
          </div>
          <div class="frame-9">
            <div class="text-wrapper-10">Language</div>
            <div class="text-wrapper-11">English</div>
          </div>
        </div>
        <div class="overlap"><img class="logos-youtube-icon" src="img/logos-youtube-icon.svg" /></div>
        <div class="frame-13">
          <div class="text-wrapper-12">Overview</div>
          <p class="div-4">
            <span class="span"
              >Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
              bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
              bla bla bla bla bla bla bla bla bla bla bla bla bla bla <br /><br />Lorem Ipsum bla bla bla bla bla bla
              bla bla bla.<br />Lorem Ipsum bla bla bla bla bla bla bla bla bla<br />Lorem Ipsum bla bla bla bla bla bla
              bla bla bla<br />Lorem Ipsum bla bla bla bla bla bla bla bla bla<br />Lorem Ipsum bla bla bla bla bla bla
              bla bla bla<br />Lorem Ipsum bla bla bla bla bla bla bla bla bla.<br />Lorem Ipsum bla bla bla bla bla bla
              bla bla bla!<br />Lorem Ipsum bla bla bla bla bla bla bla bla bla<br />Lorem Ipsum bla bla bla bla bla bla
              bla bla bla</span
            >
          </p>
        </div>
        <div class="what-you-ll-learn">
          <div class="text-wrapper-13">What you’ll learn</div>
          <div class="frame-14">
            <div class="frame-15">
              <div class="frame-16">
                <img class="img-2" src="img/frame-9463.svg" />
                <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
              </div>
              <div class="frame-16">
                <img class="img-2" src="img/frame-9463.svg" />
                <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
              </div>
              <div class="frame-16">
                <img class="img-2" src="img/frame-9463.svg" />
                <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
              </div>
              <div class="frame-16">
                <img class="img-2" src="img/frame-9463.svg" />
                <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
              </div>
              <div class="frame-16">
                <img class="img-2" src="img/frame-9463.svg" />
                <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
              </div>
            </div>
            <div class="frame-15">
              <div class="frame-16">
                <img class="img-2" src="img/frame-9464.svg" />
                <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
              </div>
              <div class="frame-16">
                <img class="img-2" src="img/frame-9464.svg" />
                <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
              </div>
              <div class="frame-16">
                <img class="img-2" src="img/frame-9464.svg" />
                <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
              </div>
              <div class="frame-16">
                <img class="img-2" src="img/frame-9464.svg" />
                <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-17">
          <div class="text-wrapper-13">Requirement</div>
          <div class="frame-18">
            <img class="img-2" src="img/frame-9463.svg" />
            <p class="text-wrapper-14">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
          </div>
          <div class="frame-18">
            <img class="img-2" src="img/frame-9463.svg" />
            <p class="text-wrapper-14">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
          </div>
          <div class="frame-18">
            <img class="img-2" src="img/frame-9463.svg" />
            <p class="text-wrapper-14">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
          </div>
          <div class="frame-18">
            <img class="img-2" src="img/frame-9463.svg" />
            <p class="text-wrapper-14">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
          </div>
        </div>
        <div class="frame-19">
          <div class="frame-20">
            <div class="text-wrapper-15">Course Content</div>
            <div class="frame-21">
              <p class="div-5"><span class="span">27 Sections • 111 Lectures • 11h 32m total length</span></p>
              <div class="text-wrapper-16">Expand all sections</div>
            </div>
          </div>
          <div class="frame-22">
            <div class="div-6">
              <div class="frame-23">
                <img class="img" src="img/icon-24-px-chevronup.svg" />
                <div class="text-wrapper-17">Title Here!</div>
                <p class="div-7">
                  <span class="text-wrapper-18">0 Lectures </span> <span class="text-wrapper-18">• 0 minute</span>
                </p>
              </div>
              <div class="frame-24">
                <div class="frame-25">
                  <div class="frame-16">
                    <img class="img" src="img/icon-2.svg" />
                    <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
                    <div class="frame-26">
                      <div class="text-wrapper-19">Preview</div>
                      <div class="text-wrapper-20">02:53</div>
                    </div>
                  </div>
                  <div class="frame-16">
                    <img class="img" src="img/icon-2.svg" />
                    <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
                    <div class="frame-26">
                      <div class="text-wrapper-19">Preview</div>
                      <div class="text-wrapper-20">02:45</div>
                    </div>
                  </div>
                  <div class="frame-16">
                    <img class="img" src="img/icon-2.svg" />
                    <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
                    <div class="frame-27">
                      <div class="text-wrapper-19">Preview</div>
                      <div class="text-wrapper-20">03:46</div>
                    </div>
                  </div>
                  <div class="frame-16">
                    <img class="img" src="img/icon-2.svg" />
                    <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
                    <div class="frame-26">
                      <div class="text-wrapper-19">Preview</div>
                      <div class="text-wrapper-20">05:22</div>
                    </div>
                  </div>
                  <div class="frame-16">
                    <img class="img" src="img/icon-2.svg" />
                    <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
                    <div class="frame-26"><div class="text-wrapper-20">09:18</div></div>
                  </div>
                  <div class="frame-16">
                    <img class="img" src="img/icon-2.svg" />
                    <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
                    <div class="frame-26"><div class="text-wrapper-20">04:01</div></div>
                  </div>
                  <div class="frame-28">
                    <img class="img" src="img/icon-1.svg" />
                    <p class="div-5">Lorem Ipsum bla bla bla bla bla bla bla bla bla</p>
                    <div class="frame-26"><div class="text-wrapper-20">1 Question</div></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-6">
              <div class="frame-29">
                <img class="img" src="img/icon-24-px-chevrondown.svg" />
                <div class="text-wrapper-17">Title Here!</div>
                <p class="div-7">
                  <span class="text-wrapper-18">0 Lectures </span> <span class="text-wrapper-18">• 0 minute</span>
                </p>
              </div>
            </div>
            <div class="div-6">
              <div class="frame-29">
                <img class="img" src="img/icon-24-px-chevrondown.svg" />
                <div class="text-wrapper-17">Title Here!</div>
                <p class="div-7">
                  <span class="text-wrapper-18">0 Lectures </span> <span class="text-wrapper-18">• 0 minute</span>
                </p>
              </div>
            </div>
            <div class="div-6">
              <div class="frame-29">
                <img class="img" src="img/icon-24-px-chevrondown.svg" />
                <div class="text-wrapper-17">Title Here!</div>
                <p class="div-7">
                  <span class="text-wrapper-18">0 Lectures </span> <span class="text-wrapper-18">• 0 minute</span>
                </p>
              </div>
            </div>
            <div class="div-6">
              <div class="frame-29">
                <img class="img" src="img/icon-24-px-chevrondown.svg" />
                <div class="text-wrapper-17">Title Here!</div>
                <p class="div-7">
                  <span class="text-wrapper-18">0 Lectures </span> <span class="text-wrapper-18">c 0 minute</span>
                </p>
              </div>
            </div>
            <div class="div-6">
              <div class="frame-29">
                <img class="img" src="img/icon-24-px-chevrondown.svg" />
                <div class="text-wrapper-17">Title Here!</div>
                <p class="div-7">
                  <span class="text-wrapper-18">0 Lectures </span> <span class="text-wrapper-18">• 0 minute</span>
                </p>
              </div>
            </div>
            <div class="div-6">
              <div class="frame-29">
                <img class="img" src="img/icon-24-px-chevrondown.svg" />
                <div class="text-wrapper-17">Title Here!</div>
                <p class="div-7">
                  <span class="text-wrapper-18">0 Lectures </span> <span class="text-wrapper-18">• 0 minute</span>
                </p>
              </div>
            </div>
            <div class="div-6">
              <div class="frame-29">
                <img class="img" src="img/icon-24-px-chevrondown.svg" />
                <div class="text-wrapper-17">Title Here!</div>
                <p class="div-7">
                  <span class="text-wrapper-18">0 Lectures </span> <span class="text-wrapper-18">• 0 minute</span>
                </p>
              </div>
            </div>
            <div class="div-6">
              <div class="frame-29">
                <img class="img" src="img/icon-24-px-chevrondown.svg" />
                <div class="text-wrapper-17">Title Here!</div>
                <p class="div-7">
                  <span class="text-wrapper-18">0 Lectures </span> <span class="text-wrapper-18">• 0 minute</span>
                </p>
              </div>
            </div>
            <div class="div-6">
              <div class="frame-30">
                <img class="img" src="img/icon-24-px-chevrondown.svg" />
                <div class="text-wrapper-17">Title Here!</div>
                <p class="div-7">
                  <span class="text-wrapper-18">0 Lectures </span> <span class="text-wrapper-18">• 0 minute</span>
                </p>
              </div>
            </div>
          </div>
          <div class="frame-31"><div class="text-wrapper-21">17 More Sections</div></div>
        </div>
        <div class="frame-32">
          <div class="div-8">
            <div class="text-wrapper-15">Title Here!</div>
            <div class="div-4">Subtitle here!</div>
          </div>
          <div class="frame-14">
            <div class="frame-33">
              <div class="text-wrapper-22">4.9</div>
              <img class="img-2" src="img/frame-34619-1.svg" />
              <div class="text-wrapper-23">12 review</div>
            </div>
            <div class="frame-34">
              <div class="div-8">
                <div class="frame-35">
                  <div class="frame-36">
                    <div class="text-wrapper-24">Excellent</div>
                    <div class="div-9"><div class="rectangle"></div></div>
                  </div>
                  <div class="text-wrapper-25">80%</div>
                </div>
                <div class="frame-35">
                  <div class="frame-37">
                    <div class="text-wrapper-24">Very Good</div>
                    <div class="div-9"><div class="rectangle-2"></div></div>
                  </div>
                  <div class="text-wrapper-25">20%</div>
                </div>
                <div class="frame-35">
                  <div class="frame-38">
                    <div class="text-wrapper-24">Average</div>
                    <div class="div-9"></div>
                  </div>
                  <div class="text-wrapper-25">0%</div>
                </div>
                <div class="frame-35">
                  <div class="frame-39">
                    <div class="text-wrapper-24">Poor</div>
                    <div class="div-9"></div>
                  </div>
                  <div class="text-wrapper-25">0%</div>
                </div>
                <div class="frame-35">
                  <div class="frame-40">
                    <div class="text-wrapper-24">Terrible</div>
                    <div class="div-9"></div>
                  </div>
                  <div class="text-wrapper-25">0%</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-41">
            <div class="div-2">
              <div class="frame-42">
                <img class="ellipse" src="img/ellipse-209.png" />
                <div class="frame-3">
                  <div class="text-wrapper-26">Name Here</div>
                  <img class="img-2" src="img/frame-34709.svg" />
                </div>
              </div>
              <p class="text-wrapper-27">“Lorem Ipsum bla bla bla.”</p>
            </div>
          </div>
          <div class="frame-43">
            <div class="frame-44">
              <div class="div-2">
                <div class="frame-42">
                  <img class="ellipse" src="img/ellipse-209.png" />
                  <div class="frame-3">
                    <div class="text-wrapper-26">Name Here</div>
                    <img class="img-2" src="img/frame-34709.svg" />
                  </div>
                </div>
                <p class="text-wrapper-27">“Lorem Ipsum bla bla bla bla.”</p>
              </div>
            </div>
          </div>
          <div class="text-wrapper-28">More Review</div>
        </div>
        <div class="nav-bar">
          <div class="navbar">
            <div class="container">
              <div class="content">
                <img class="image" src="img/image-1.png" />
                <div class="trailing-content">
                  <div class="group">
                    <div class="overlap-group">
                      <img class="material-symbols" src="img/material-symbols-language.svg" />
                      <div class="ellipse-2"></div>
                    </div>
                  </div>
                  <div class="icon-px-wrapper"><img class="icon-px" src="img/icon-24-px-shoppingcart.svg" /></div>
                  <button class="button-3"><div class="title-XL-2"><a href="/login" style="color: white;"></a>Log In</a></div></button>
                  <button class="button-4"><div class="title-XL-2"><a href="/signup" style="color: white;">Sign Up</a></div></button>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-bar-2">
            <div class="frame-45">
              <div class="text-wrapper-29">Home</div>
              <div class="text-wrapper-29">Study Method</div>
              <div class="text-wrapper-29">Facility</div>
              <div class="text-wrapper-29">Blog</div>
              <div class="text-wrapper-29">Webinar</div>
              <div class="text-wrapper-29">About us</div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container-2">
          <div class="links-and-newsletter">
            <div class="frame-46">
              <div class="frame-47">
                <div class="div-3">
                  <div class="heading">COURSES</div>
                  <div class="div-8">
                    <div class="footers-text-link"><p class="text-wrapper-30">2 Year online MBA General</p></div>
                    <div class="footers-text-link"><div class="text-wrapper-30">Certificate in HRM</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-30">Certificate in Marketing</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-30">Certificate in Finance</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-30">Corporate Programs</div></div>
                  </div>
                </div>
                <div class="div-3">
                  <div class="heading">CALL CENTER</div>
                  <div class="div-2">
                    <div class="footers-text-link"><div class="text-wrapper-30">0811 1084 800</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-30">(021) 24579999 Ext. 62024</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-30">(021) 4603931</div></div>
                    <div class="img-2"></div>
                  </div>
                </div>
                <div class="div-3">
                  <div class="heading">ABOUT US</div>
                  <div class="div-2">
                    <div class="footers-text-link"><div class="text-wrapper-30">UTSchool of institution</div></div>
                    <div class="footers-text-link">
                      <div class="text-wrapper-30">Our Institutes and Universities</div>
                    </div>
                    <div class="footers-text-link"><div class="text-wrapper-30">Management Team</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-30">Approval and Recognition</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-30">valuation &amp; Assesment</div></div>
                  </div>
                </div>
              </div>
              <div class="newsletter">
                <div class="div-2">
                  <div class="heading-2">SUBSCRIBE TO OUR NEWSLETTER</div>
                  <p class="supporting-text">The latest news, articles, and resources, sent to your inbox weekly.</p>
                </div>
                <div class="footers-subscribe">
                  <div class="footers-text-input"><div class="text-wrapper-30">Enter your email</div></div>
                  <div class="footers-submit"><div class="text">Subscribe</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="div-6">
            <div class="top-border"></div>
            <div class="social-links-and">
              <p class="copyright">
                <span class="text-wrapper-31">© 2023 </span>
                <span class="text-wrapper-32">Vocatic Powered By UT School</span>
              </p>
              <img class="img-2" src="img/footer-social-links.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
