<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="facility">
      <div class="nav-bar">
        <div class="navbar">
          <div class="container">
            <div class="content">
              <img class="image" src="img/image-1.png" />
              <div class="trailing-content">
                <div class="group">
                  <div class="overlap-group">
                    <img class="material-symbols" src="img/material-symbols-language.svg" />
                    <div class="ellipse"></div>
                  </div>
                </div>
                <a href="/mycourses"><div class="icon-px-wrapper"><img class="icon-px" src="img/icon-24-px-shoppingcart.svg" /></div></a>
                <button class="button"><div class="title-XL"><a href="/login" style="color: white;">Log In</a></div></button>
                <button class="div"><div class="title-XL"><a href="/signup" style="color: white;">Sign Up</a></div></button>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-wrapper">
          <div class="navbar-2">
            <div class="text-wrapper"><a href="/home" style="color: white;">Home</a></div>
            <div class="text-wrapper-2"><a href="/studymethod" style="color: white;">Study Method</a></div>
            <div class="frame"><div class="text-wrapper-3"><a href="/facility" style="color: white;">Facility</a></div></div>
            <div class="text-wrapper"><a href="/blog" style="color: white;">Blog</a></div>
            <div class="text-wrapper"><a href="/webinar" style="color: white;">Webinar</a></div>
            <div class="text-wrapper"><a href="/aboutus" style="color: white;">About us</a></div>
          </div>
        </div>
      </div>
      <img class="header-section" src="img/header-section.png" />
      <iframe src="https://piquant-lateral-girdle.glitch.me/" frameborder="0" width="750" height="700" style="position: absolute; left: 50%; top: 2.5%;"></iframe>
      <div class="info-help">
        <div class="container-2">
          <header class="header">
            <div class="heading">All-in-one platform</div>
            <p class="supporting-text">
              Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
              bla bla bla bla bla bla bla bla bla bla bla bla bla
            </p>
          </header>
          <div class="features">
            <div class="feature-sections">
              <img class="check" src="img/check.svg" />
              <div class="content-2">
                <p class="title">Lorem Ipsum bla bla bla</p>
                <p class="description">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                </p>
              </div>
            </div>
            <div class="feature-sections-2">
              <img class="check" src="img/check.svg" />
              <div class="content-2">
                <p class="title">Lorem Ipsum bla bla bla</p>
                <p class="description">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                </p>
              </div>
            </div>
            <div class="feature-sections-3">
              <img class="check" src="img/check.svg" />
              <div class="content-2">
                <p class="title">Lorem Ipsum bla bla bla</p>
                <p class="description">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                </p>
              </div>
            </div>
            <div class="feature-sections-4">
              <img class="check" src="img/check.svg" />
              <div class="content-2">
                <p class="title">Lorem Ipsum bla bla bla</p>
                <p class="description">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                </p>
              </div>
            </div>
            <div class="feature-sections-5">
              <img class="check" src="img/check.svg" />
              <div class="content-2">
                <p class="title">Lorem Ipsum bla bla bla</p>
                <p class="description">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                </p>
              </div>
            </div>
            <div class="feature-sections-6">
              <img class="check" src="img/check.svg" />
              <div class="content-2">
                <p class="title">Lorem Ipsum bla bla bla</p>
                <p class="description">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                </p>
              </div>
            </div>
            <div class="feature-sections-7">
              <img class="check" src="img/check.svg" />
              <div class="content-2">
                <p class="title">Lorem Ipsum bla bla bla</p>
                <p class="description">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                </p>
              </div>
            </div>
            <div class="feature-sections-8">
              <img class="check" src="img/check.svg" />
              <div class="content-2">
                <p class="title">Lorem Ipsum bla bla bla</p>
                <p class="description">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info">
        <div class="overlap">
          <div class="banner-image"></div>
          <div class="content-wrapper">
            <div class="content-3">
              <div class="leading-content">
                <img class="icon" src="img/icon-7.svg" />
                <p class="p">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                <p class="supporting-text-2">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
              </div>
              <div class="stats">
                <div class="overlap-group-2">
                  <div class="stats-stat">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                  <div class="stats-stat-2">
                    <div class="amount-2">123</div>
                    <div class="label">lorem ipsum</div>
                  </div>
                  <div class="stats-stat-3">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlap-wrapper">
        <div class="overlap-2">
          <div class="div-wrapper">
            <div class="content-4">
              <div class="leading-content">
                <img class="img" src="img/icon-6.svg" />
                <p class="p">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                <p class="supporting-text-2">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
              </div>
              <div class="stats">
                <div class="overlap-group-2">
                  <div class="stats-stat">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                  <div class="stats-stat-2">
                    <div class="amount-2">123</div>
                    <div class="label">lorem ipsum</div>
                  </div>
                  <div class="stats-stat-3">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-image-2"></div>
        </div>
      </div>
      <div class="info">
        <div class="overlap-3">
          <div class="banner-image-3"></div>
          <div class="content-wrapper">
            <div class="content-3">
              <div class="leading-content">
                <img class="icon" src="img/icon-5.svg" />
                <p class="p">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                <p class="supporting-text-2">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
              </div>
              <div class="stats">
                <div class="overlap-group-2">
                  <div class="stats-stat">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                  <div class="stats-stat-2">
                    <div class="amount-2">123</div>
                    <div class="label">lorem ipsum</div>
                  </div>
                  <div class="stats-stat-3">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlap-wrapper">
        <div class="overlap-2">
          <div class="div-wrapper">
            <div class="content-4">
              <div class="leading-content">
                <img class="img" src="img/icon-4.svg" />
                <p class="p">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                <p class="supporting-text-2">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
              </div>
              <div class="stats">
                <div class="overlap-group-2">
                  <div class="stats-stat">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                  <div class="stats-stat-2">
                    <div class="amount-2">123</div>
                    <div class="label">lorem ipsum</div>
                  </div>
                  <div class="stats-stat-3">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-image-2"></div>
        </div>
      </div>
      <div class="overlap-group-wrapper">
        <div class="overlap-3">
          <div class="banner-image-3"></div>
          <div class="content-wrapper">
            <div class="content-3">
              <div class="leading-content">
                <img class="icon" src="img/icon-3.svg" />
                <p class="p">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                <p class="supporting-text-2">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
              </div>
              <div class="stats">
                <div class="overlap-group-2">
                  <div class="stats-stat">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                  <div class="stats-stat-2">
                    <div class="amount-2">123</div>
                    <div class="label">lorem ipsum</div>
                  </div>
                  <div class="stats-stat-3">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlap-wrapper">
        <div class="overlap-4">
          <div class="div-wrapper">
            <div class="content-4">
              <div class="leading-content">
                <img class="img" src="img/icon-2.svg" />
                <p class="p">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                <p class="supporting-text-2">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
              </div>
              <div class="stats">
                <div class="overlap-group-2">
                  <div class="stats-stat">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                  <div class="stats-stat-2">
                    <div class="amount-2">123</div>
                    <div class="label">lorem ipsum</div>
                  </div>
                  <div class="stats-stat-3">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-image-4"></div>
        </div>
      </div>
      <div class="info">
        <div class="overlap-3">
          <div class="banner-image-3"></div>
          <div class="content-wrapper">
            <div class="content-3">
              <div class="leading-content">
                <img class="icon" src="img/icon-1.svg" />
                <p class="p">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                <p class="supporting-text-2">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
              </div>
              <div class="stats">
                <div class="overlap-group-2">
                  <div class="stats-stat">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                  <div class="stats-stat-2">
                    <div class="amount-2">123</div>
                    <div class="label">lorem ipsum</div>
                  </div>
                  <div class="stats-stat-3">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlap-wrapper">
        <div class="overlap-2">
          <div class="div-wrapper">
            <div class="content-4">
              <div class="leading-content">
                <img class="img" src="img/icon.svg" />
                <p class="p">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                <p class="supporting-text-2">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
              </div>
              <div class="stats">
                <div class="overlap-group-2">
                  <div class="stats-stat">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                  <div class="stats-stat-2">
                    <div class="amount-2">123</div>
                    <div class="label">lorem ipsum</div>
                  </div>
                  <div class="stats-stat-3">
                    <div class="amount">123</div>
                    <div class="label">Lorem Ipsum</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="banner-image-2"></div>
        </div>
      </div>
      <div class="centered-acttion">
        <div class="container-3">
          <div class="div-2">
            <div class="heading-2">Ready to dive in?</div>
            <p class="sub-heading">Start Learning with Vocatic now</p>
          </div>
          <div class="actions">
            <button class="shared-button-link"><div class="text">Get started</div></button>
            <button class="shared-button-link-2"><div class="text-2">Learn more</div></button>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container-4">
          <div class="links-and-newsletter">
            <div class="frame-2">
              <div class="frame-3">
                <div class="footers-column">
                  <div class="heading-3">COURSES</div>
                  <div class="links">
                    <div class="footers-text-link"><p class="text-wrapper-4">2 Year online MBA General</p></div>
                    <div class="footers-text-link"><div class="text-wrapper-4">Certificate in HRM</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-4">Certificate in Marketing</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-4">Certificate in Finance</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-4">Corporate Programs</div></div>
                  </div>
                </div>
                <div class="footers-column">
                  <div class="heading-3">CALL CENTER</div>
                  <div class="div-3">
                    <div class="footers-text-link"><div class="text-wrapper-4">0811 1084 800</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-4">(021) 24579999 Ext. 62024</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-4">(021) 4603931</div></div>
                    <div class="footer-social-links"></div>
                  </div>
                </div>
                <div class="footers-column">
                  <div class="heading-3">ABOUT US</div>
                  <div class="div-3">
                    <div class="footers-text-link"><div class="text-wrapper-4">UTSchool of institution</div></div>
                    <div class="footers-text-link">
                      <div class="text-wrapper-4">Our Institutes and Universities</div>
                    </div>
                    <div class="footers-text-link"><div class="text-wrapper-4">Management Team</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-4">Approval and Recognition</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-4">valuation &amp; Assesment</div></div>
                  </div>
                </div>
              </div>
              <div class="newsletter">
                <div class="div-3">
                  <div class="heading-4">SUBSCRIBE TO OUR NEWSLETTER</div>
                  <p class="supporting-text-3">The latest news, articles, and resources, sent to your inbox weekly.</p>
                </div>
                <div class="footers-subscribe">
                  <div class="footers-text-input"><div class="text-wrapper-4">Enter your email</div></div>
                  <div class="footers-submit"><div class="text-3">Subscribe</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="div-2">
            <div class="top-border"></div>
            <div class="social-links-and">
              <p class="copyright">
                <span class="span">© 2023 </span> <span class="text-wrapper-5">Vocatic Powered By UT School</span>
              </p>
              <img class="footer-social-links" src="img/footer-social-links.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
