<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="vocatic-home-screen">
      <div class="div">
        <div class="navbar">
          <div class="container">
            <div class="content">
              <img class="image" src="img/image-1.png" />
              <div class="trailing-content">
                <img class="group" src="img/group-239.png" />
                <img class="group" src="img/group-34397.png" />
                <button class="button"><div class="title-XL"><a href="/login" style="color: white;">Log In</a></div></button>
                <button class="button-2"><div class="title-XL"><a href="/signup" style="color: white;">Sign Up</a></div></button>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-bar">
          <div class="navbar-2">
            <div class="frame">
                <div class="text-wrapper"><a href="/" style="color: white;">Home</a></div></div>
                <div class="text-wrapper-2"><a href="/studymethod" style="color: white;">Study Method</a></div>
                <div class="text-wrapper-2"><a href="/facility" style="color: white;">Facility</a></div>
                <div class="text-wrapper-2"><a href="/blog" style="color: white;">Blog</a></div>
                <div class="text-wrapper-2"><a href="/webinar" style="color: white;">Webinar</a></div>
                <div class="text-wrapper-2"><a href="/aboutus" style="color: white;">About us</a></div>
          </div>
        </div>
      </div>
      <div class="header-section">
        <div class="frame-2">
          <div class="div-wrapper"><p class="p">New Way to learn ........</p></div>
          <div class="frame-3">
            <div class="div-2">
              <p class="text-wrapper-3">Lorem Ipsum bla bla bla bla</p>
              <p class="text-wrapper-4">
                Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla
              </p>
            </div>
            <div class="frame-4"><div class="text-wrapper-5">Action Button</div></div>
          </div>
        </div>
        <div class="banner-image"></div>
      </div>
      <div class="info-help">
        <div class="frame-5">
          <div class="group-2">
            <p class="text-wrapper-6">The World’s First bla bla bla</p>
            <img class="line" src="img/line-1.svg" />
            <img class="img" src="img/line-2.svg" />
            <img class="line-2" src="img/line-3.svg" />
          </div>
          <div class="text-wrapper-7">100% .........</div>
        </div>
        <div class="frame-6">
          <div class="text-wrapper-8">128,486,771</div>
          <div class="text-wrapper-9">Webinars and things</div>
        </div>
        <div class="frame-7">
          <div class="text-wrapper-8">23,114</div>
          <p class="text-wrapper-9">Experience Workers ready to help</p>
          <img class="line-3" src="img/line-4.svg" />
          <img class="line-4" src="img/line-5.svg" />
        </div>
        <div class="frame-8">
          <div class="text-wrapper-8">23,114,459</div>
          <img class="img-2" src="img/people-who-have-started-to-learn.png" />
        </div>
      </div>
      <div class="selection-box">
        <p class="text-wrapper-10">We Provide you with the best Courses we can give.</p>
        <div class="frame-9"><div class="text-wrapper-11">Popular Courses</div></div>
        <div class="frame-10"><div class="text-wrapper-12">Show More</div></div>
        <div class="frame-11">
          <div class="div">
            <div class="frame-12"></div>
            <div class="frame-13">
              <div class="frame-14">
                <p class="text-wrapper-13">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-14">Type Here</div>
              </div>
              <div class="div-2">
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-user-7.png" />
                  <p class="div-3">
                    <span class="span">000k Members</span> <span class="text-wrapper-15"> Joined</span>
                  </p>
                </div>
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-star-7.png" />
                  <p class="div-3">
                    <span class="span">000k Reviews</span> <span class="text-wrapper-15"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-16">
                <button class="button-3"><div class="text-wrapper-16">Details</div></button>
                <button class="button-4"><div class="text-wrapper-17">Add to Cart</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-12"></div>
            <div class="frame-13">
              <div class="frame-14">
                <p class="text-wrapper-13">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-14">Type Here</div>
              </div>
              <div class="div-2">
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-user-6.svg" />
                  <p class="div-3">
                    <span class="span">000k Members</span> <span class="text-wrapper-15"> Joined</span>
                  </p>
                </div>
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-star-6.svg" />
                  <p class="div-3">
                    <span class="span">000k Reviews</span> <span class="text-wrapper-15"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-16">
                <button class="button-3"><div class="text-wrapper-16">Details</div></button>
                <button class="button-4"><div class="text-wrapper-17">Add to Cart</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-12"></div>
            <div class="frame-13">
              <div class="frame-14">
                <p class="text-wrapper-13">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-14">Type Here</div>
              </div>
              <div class="div-2">
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-user-5.svg" />
                  <p class="div-3">
                    <span class="span">000k Members</span> <span class="text-wrapper-15"> Joined</span>
                  </p>
                </div>
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-star-5.svg" />
                  <p class="div-3">
                    <span class="span">000k Reviews</span> <span class="text-wrapper-15"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-16">
                <button class="button-3"><div class="text-wrapper-16">Details</div></button>
                <button class="button-4"><div class="text-wrapper-17">Add to Cart</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-12"></div>
            <div class="frame-13">
              <div class="frame-14">
                <p class="text-wrapper-13">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-18">Type Here</div>
              </div>
              <div class="div-2">
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-user-4.svg" />
                  <p class="div-3">
                    <span class="span">000k Members</span> <span class="text-wrapper-15"> Joined</span>
                  </p>
                </div>
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-star-4.svg" />
                  <p class="div-3">
                    <span class="span">000k Reviews</span> <span class="text-wrapper-15"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-16">
                <button class="button-3"><div class="text-wrapper-16">Details</div></button>
                <button class="button-4"><div class="text-wrapper-17">Add to Cart</div></button>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-17">
          <div class="div">
            <div class="frame-12"></div>
            <div class="frame-13">
              <div class="frame-14">
                <p class="text-wrapper-13">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-14">Type Here</div>
              </div>
              <div class="div-2">
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-user-3.svg" />
                  <p class="div-3">
                    <span class="span">000k Members</span> <span class="text-wrapper-15"> Joined</span>
                  </p>
                </div>
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-star-3.svg" />
                  <p class="div-3">
                    <span class="span">000k Reviews</span> <span class="text-wrapper-15"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-16">
                <button class="button-3"><div class="text-wrapper-16">Details</div></button>
                <button class="button-4"><div class="text-wrapper-17">Add to Cart</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-12"></div>
            <div class="frame-13">
              <div class="frame-14">
                <p class="text-wrapper-13">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-14">Type Here</div>
              </div>
              <div class="div-2">
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-user-2.svg" />
                  <p class="div-3">
                    <span class="span">000k Members</span> <span class="text-wrapper-15"> Joined</span>
                  </p>
                </div>
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-star-2.svg" />
                  <p class="div-3">
                    <span class="span">000k Reviews</span> <span class="text-wrapper-15"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-16">
                <button class="button-3"><div class="text-wrapper-16">Details</div></button>
                <button class="button-4"><div class="text-wrapper-17">Add to Cart</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-12"></div>
            <div class="frame-13">
              <div class="frame-14">
                <p class="text-wrapper-13">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-14">Type Here</div>
              </div>
              <div class="div-2">
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-user-1.svg" />
                  <p class="div-3">
                    <span class="span">000k Members</span> <span class="text-wrapper-15"> Joined</span>
                  </p>
                </div>
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-star-1.svg" />
                  <p class="div-3">
                    <span class="span">000k Reviews</span> <span class="text-wrapper-15"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-16">
                <button class="button-3"><div class="text-wrapper-16">Details</div></button>
                <button class="button-4"><div class="text-wrapper-17">Add to Cart</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-12"></div>
            <div class="frame-13">
              <div class="frame-14">
                <p class="text-wrapper-13">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-14">Type Here</div>
              </div>
              <div class="div-2">
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-user.svg" />
                  <p class="div-3">
                    <span class="span">000k Members</span> <span class="text-wrapper-15"> Joined</span>
                  </p>
                </div>
                <div class="frame-15">
                  <img class="img-3" src="img/fi-rr-star.svg" />
                  <p class="div-3">
                    <span class="span">000k Reviews</span> <span class="text-wrapper-15"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-16">
                <button class="button-3"><div class="text-wrapper-16">Details</div></button>
                <button class="button-4"><div class="text-wrapper-17">Add to Cart</div></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="reviews-what-they">
        <div class="frame-18">
          <div class="rectangle"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-2"></div>
          <div class="rectangle-2"></div>
        </div>
        <div class="overlap-group">
          <div class="rectangle-3"></div>
          <div class="text-wrapper-19">Student’s Image Here</div>
        </div>
        <p class="one-of-the-students">
          “One of the students Review Here!”<br />”----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------”
        </p>
        <div class="frame-19">
          <img class="group-3" src="img/group-235.png" />
          <div class="frame-20">
            <div class="text-wrapper-20">Name Here</div>
            <div class="text-wrapper-21">Job Here</div>
          </div>
        </div>
        <img class="iconly-bulk-arrow" src="img/iconly-bulk-arrow-left-circle.svg" />
      </div>
      <div class="footer">
        <div class="container-2">
          <div class="links-and-newsletter">
            <div class="frame-21">
              <div class="frame-22">
                <div class="div-2">
                  <div class="heading">COURSES</div>
                  <div class="links">
                    <div class="footers-text-link"><p class="text-wrapper-22">2 Year online MBA General</p></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">Certificate in HRM</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">Certificate in Marketing</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">Certificate in Finance</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">Corporate Programs</div></div>
                  </div>
                </div>
                <div class="div-2">
                  <div class="heading">CALL CENTER</div>
                  <div class="div-4">
                    <div class="footers-text-link"><div class="text-wrapper-22">0811 1084 800</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">(021) 24579999 Ext. 62024</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">(021) 4603931</div></div>
                    <div class="img-2"></div>
                  </div>
                </div>
                <div class="div-2">
                  <div class="heading">ABOUT US</div>
                  <div class="div-4">
                    <div class="footers-text-link"><div class="text-wrapper-22">UTSchool of institution</div></div>
                    <div class="footers-text-link">
                      <div class="text-wrapper-22">Our Institutes and Universities</div>
                    </div>
                    <div class="footers-text-link"><div class="text-wrapper-22">Management Team</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">Approval and Recognition</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-22">valuation &amp; Assesment</div></div>
                  </div>
                </div>
              </div>
              <div class="newsletter">
                <div class="div-4">
                  <div class="heading-2">SUBSCRIBE TO OUR NEWSLETTER</div>
                  <p class="supporting-text">The latest news, articles, and resources, sent to your inbox weekly.</p>
                </div>
                <div class="footers-subscribe">
                  <div class="footers-text-input"><div class="text-wrapper-22">Enter your email</div></div>
                  <div class="footers-submit"><div class="text">Subscribe</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-2">
            <div class="top-border"></div>
            <div class="social-links-and">
              <p class="copyright">
                <span class="text-wrapper-23">© 2023 </span>
                <span class="text-wrapper-24">Vocatic Powered By UT School</span>
              </p>
              <img class="img-2" src="img/footer-social-links.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
