<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="login">
      <div class="nav-bar">
        <div class="navbar">
          <div class="container">
            <div class="content">
              <img class="image" src="img/image-1.png" />
              <div class="trailing-content">
                <div class="group">
                  <div class="overlap-group">
                    <img class="material-symbols" src="img/material-symbols-language.svg" />
                    <div class="ellipse"></div>
                  </div>
                </div>
                <div class="icon-px-wrapper"><img class="icon-px" src="img/icon-24-px-shoppingcart.svg" /></div>
                <button class="button"><div class="title-XL"><a href="/login" style="color: white;">Log In</a></div></button>
                <button class="div"><div class="title-XL"><a href="/signup" style="color: white;">Sign Up</a></div></button>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-wrapper">
          <div class="navbar-2">
            <div class="text-wrapper">Home</div>
            <div class="text-wrapper">Study Method</div>
            <div class="text-wrapper">Facility</div>
            <div class="text-wrapper">Blog</div>
            <div class="text-wrapper">Webinar</div>
            <div class="text-wrapper">About us</div>
          </div>
        </div>
      </div>
      <div class="sign-in">
        <div class="frame">
          <div class="text-wrapper-2">Welcome Back to Vocatic</div>
          <div class="frame-2">
            <div class="frame-3">
              <div class="frame-4">
                <p class="p">Sign In as a Student</p>
                <p class="welcome-back-sign-in">
                  Welcome Back! Sign in to get access to Continue <br />your courses and you progress!
                </p>
              </div>
              <div class="frame-5">
                <div class="div-2">
                  <p class="div-3">
                    <span class="span">Email Address</span>
                    <span class="span">&nbsp;</span>
                    <span class="text-wrapper-3">*</span>
                  </p>
                  <div class="div-4"></div>
                </div>
                <div class="div-2">
                  <p class="div-3">
                    <span class="span">Password</span>
                    <span class="span">&nbsp;</span>
                    <span class="text-wrapper-3">*</span>
                  </p>
                  <div class="div-4"></div>
                </div>
                <div class="frame-6">
                  <div class="text-chackbox">
                    <div class="check-box"></div>
                    <div class="text-wrapper-4">Remember Me</div>
                  </div>
                  <div class="text-wrapper-5">Forgot Password?</div>
                </div>
              </div>
            </div>
            <button class="button-2"><div class="title-XL"><a href="/signup" style="color: white;">Sign Up</a></div></button>
            <div class="frame-7">
              <div class="text-wrapper-6">New to Vocatic?</div>
              <div class="text-wrapper-7"><a href="/signup" style="color: white;">Sign Up</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container-2">
          <div class="links-and-newsletter">
            <div class="frame-8">
              <div class="frame-9">
                <div class="div-2">
                  <div class="heading">COURSES</div>
                  <div class="links">
                    <div class="footers-text-link"><p class="text-wrapper-8">2 Year online MBA General</p></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">Certificate in HRM</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">Certificate in Marketing</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">Certificate in Finance</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">Corporate Programs</div></div>
                  </div>
                </div>
                <div class="div-2">
                  <div class="heading">CALL CENTER</div>
                  <div class="div-5">
                    <div class="footers-text-link"><div class="text-wrapper-8">0811 1084 800</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">(021) 24579999 Ext. 62024</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">(021) 4603931</div></div>
                    <div class="footer-social-links"></div>
                  </div>
                </div>
                <div class="div-2">
                  <div class="heading">ABOUT US</div>
                  <div class="div-5">
                    <div class="footers-text-link"><div class="text-wrapper-8">UTSchool of institution</div></div>
                    <div class="footers-text-link">
                      <div class="text-wrapper-8">Our Institutes and Universities</div>
                    </div>
                    <div class="footers-text-link"><div class="text-wrapper-8">Management Team</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">Approval and Recognition</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-8">valuation &amp; Assesment</div></div>
                  </div>
                </div>
              </div>
              <div class="newsletter">
                <div class="div-5">
                  <div class="heading-2">SUBSCRIBE TO OUR NEWSLETTER</div>
                  <p class="supporting-text">The latest news, articles, and resources, sent to your inbox weekly.</p>
                </div>
                <div class="footers-subscribe">
                  <div class="footers-text-input"><div class="text-wrapper-8">Enter your email</div></div>
                  <div class="footers-submit"><div class="text">Subscribe</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-2">
            <div class="top-border"></div>
            <div class="social-links-and">
              <p class="copyright">
                <span class="text-wrapper-9">© 2023 </span>
                <span class="text-wrapper-10">Vocatic Powered By UT School</span>
              </p>
              <img class="footer-social-links" src="img/footer-social-links.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
