<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="confirm-purchases">
      <div class="nav-bar">
        <div class="navbar">
          <div class="container">
            <div class="content">
              <img class="image" src="img/image-1.png" />
              <div class="trailing-content">
                <div class="frame">
                  <div class="text-wrapper">My Courses</div>
                  <div class="frame">
                    <div class="group">
                      <div class="overlap-group">
                        <img class="material-symbols" src="img/material-symbols-language.svg" />
                        <div class="ellipse"></div>
                      </div>
                    </div>
                    <div class="icon-px-wrapper"><img class="icon-px" src="img/icon-24-px-shoppingcart.svg" /></div>
                    <div class="icon-px-wrapper"><img class="img" src="img/icon-24-px-bellringing.svg" /></div>
                    <div class="overlap-wrapper">
                      <div class="overlap"><div class="div">TR</div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-wrapper">
          <div class="navbar-2">
            <div class="text-wrapper-2">Home</div>
            <div class="text-wrapper-2">Study Method</div>
            <div class="text-wrapper-2">Facility</div>
            <div class="text-wrapper-2">Blog</div>
            <div class="text-wrapper-2">Webinar</div>
            <div class="text-wrapper-2">About us</div>
          </div>
        </div>
      </div>
      <div class="desktop">
        <div class="frame-2">
          <div class="frame-3">
            <p class="p">Thank you for your Purchases!</p>
            <p class="text-wrapper-3">We Hope that You Enjoy your Time</p>
          </div>
          <div class="frame-4">
            <img class="king" src="img/king-4.png" />
            <img class="king-2" src="img/king-2.png" />
            <img class="king-2" src="img/king-3.png" />
          </div>
          <p class="text-wrapper-4">
            Now You’re Set! it might take a little bit for everything to kick in. Rest assured, You’re all good!
          </p>
          <div class="frame-4">
            <button class="button"><div class="text-wrapper-5">Go Back</div></button>
            <button class="div-wrapper"><div class="text-wrapper-6">Continue to Course</div></button>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container-2">
          <div class="links-and-newsletter">
            <div class="frame-5">
              <div class="frame-6">
                <div class="footers-column">
                  <div class="heading">COURSES</div>
                  <div class="links">
                    <div class="footers-text-link"><p class="text-wrapper-7">2 Year online MBA General</p></div>
                    <div class="footers-text-link"><div class="text-wrapper-7">Certificate in HRM</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-7">Certificate in Marketing</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-7">Certificate in Finance</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-7">Corporate Programs</div></div>
                  </div>
                </div>
                <div class="footers-column">
                  <div class="heading">CALL CENTER</div>
                  <div class="div-2">
                    <div class="footers-text-link"><div class="text-wrapper-7">0811 1084 800</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-7">(021) 24579999 Ext. 62024</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-7">(021) 4603931</div></div>
                    <div class="footer-social-links"></div>
                  </div>
                </div>
                <div class="footers-column">
                  <div class="heading">ABOUT US</div>
                  <div class="div-2">
                    <div class="footers-text-link"><div class="text-wrapper-7">UTSchool of institution</div></div>
                    <div class="footers-text-link">
                      <div class="text-wrapper-7">Our Institutes and Universities</div>
                    </div>
                    <div class="footers-text-link"><div class="text-wrapper-7">Management Team</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-7">Approval and Recognition</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-7">valuation &amp; Assesment</div></div>
                  </div>
                </div>
              </div>
              <div class="newsletter">
                <div class="div-2">
                  <div class="heading-2">SUBSCRIBE TO OUR NEWSLETTER</div>
                  <p class="supporting-text">The latest news, articles, and resources, sent to your inbox weekly.</p>
                </div>
                <div class="footers-subscribe">
                  <div class="footers-text-input"><div class="text-wrapper-7">Enter your email</div></div>
                  <div class="footers-submit"><div class="text">Subscribe</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-2">
            <div class="top-border"></div>
            <div class="social-links-and">
              <p class="copyright">
                <span class="span">© 2023 </span> <span class="text-wrapper-8">Vocatic Powered By UT School</span>
              </p>
              <img class="footer-social-links" src="img/footer-social-links.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
