<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="quiz-correction">
      <div class="nav-bar">
        <div class="navbar">
          <div class="container">
            <div class="content">
              <img class="image" src="img/image-1.png" />
              <div class="trailing-content">
                <div class="frame">
                  <div class="text-wrapper">My Courses</div>
                  <div class="frame">
                    <div class="group">
                      <div class="overlap-group">
                        <img class="material-symbols" src="img/material-symbols-language.svg" />
                        <div class="ellipse"></div>
                      </div>
                    </div>
                    <div class="icon-px-wrapper"><img class="icon-px" src="img/icon-24-px-shoppingcart.svg" /></div>
                    <div class="icon-px-wrapper"><img class="img" src="img/icon-24-px-bellringing.svg" /></div>
                    <div class="overlap-wrapper">
                      <div class="overlap"><div class="div">TR</div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar-wrapper">
          <div class="navbar-2">
            <div class="text-wrapper-2">Home</div>
            <div class="text-wrapper-2">Study Method</div>
            <div class="text-wrapper-2">Facility</div>
            <div class="text-wrapper-2">Blog</div>
            <div class="text-wrapper-2">Webinar</div>
            <div class="text-wrapper-2">About us</div>
          </div>
        </div>
      </div>
      <div class="confirm-quiz">
        <div class="frame-2">
          <div class="frame-3">
            <div class="frame-4">
              <div class="text-wrapper-3">(10 Points)</div>
              <p class="p">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
            </div>
            <div class="frame-5">
              <div class="frame-6">
                <div class="frame-7">
                  <div class="div-wrapper"><div class="text-wrapper-4">A</div></div>
                  <p class="text-wrapper-5">Lorem Ipsum dolor sit amet</p>
                </div>
                <img class="img-2" src="img/icon-20-px-checkcircle-1.svg" />
              </div>
              <div class="frame-8">
                <div class="div-wrapper"><div class="text-wrapper-4">B</div></div>
                <p class="text-wrapper-5">Lorem Ipsum bla bla bla bla</p>
              </div>
              <div class="frame-8">
                <div class="div-wrapper"><div class="text-wrapper-4">C</div></div>
                <p class="text-wrapper-5">Lorem Ipsum baal bal bla bla</p>
              </div>
              <div class="frame-8">
                <div class="div-wrapper"><div class="text-wrapper-4">D</div></div>
                <p class="text-wrapper-5">Lorem Ipsum bal lab alb lba</p>
              </div>
            </div>
          </div>
          <div class="frame-9">
            <div class="frame-3">
              <div class="frame-4">
                <div class="text-wrapper-3">(5 Points)</div>
                <p class="text-wrapper-6">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                </p>
              </div>
              <div class="frame-5">
                <div class="frame-10">
                  <div class="div-wrapper"><div class="text-wrapper-4">A</div></div>
                  <p class="text-wrapper-5">Lorem Ipsum dolor sit amet</p>
                </div>
                <div class="frame-8">
                  <div class="div-wrapper"><div class="text-wrapper-4">B</div></div>
                  <p class="text-wrapper-5">Lorem Ipsum baal bal bla bla</p>
                </div>
                <div class="frame-11">
                  <div class="frame-7">
                    <div class="div-wrapper"><div class="text-wrapper-4">C</div></div>
                    <p class="text-wrapper-5">Lorem Ipsum bal lab alb lba</p>
                  </div>
                  <img class="img-2" src="img/icon-20-px-xcircle.svg" />
                </div>
                <div class="frame-8">
                  <div class="div-wrapper"><div class="text-wrapper-4">D</div></div>
                  <p class="text-wrapper-5">Lorem Ipsum dolor sit amet</p>
                </div>
              </div>
            </div>
            <div class="frame-12">
              <div class="frame-13"><div class="text-wrapper-7">Send My Answer</div></div>
              <div class="frame-14"><div class="text-wrapper-8">Next</div></div>
            </div>
          </div>
        </div>
        <div class="frame-wrapper">
          <div class="frame-15">
            <div class="frame-16">
              <div class="frame-17">
                <div class="frame-18">
                  <img class="frame-19" src="img/frame-9672.svg" />
                  <div class="frame-20">
                    <p class="text-wrapper-9">Lecture 1: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                    <div class="frame-21">
                      <div class="frame-22">
                        <img class="img-3" src="img/icon-20-px-playcircle-32.svg" />
                        <div class="text-wrapper-10">6 min</div>
                      </div>
                      <div class="frame-22">
                        <img class="img-3" src="img/icon-24-px-book-26.svg" />
                        <div class="text-wrapper-10">32 min</div>
                      </div>
                      <div class="frame-22">
                        <img class="img-3" src="img/icon-20-px-stacksimple-26.svg" />
                        <div class="text-wrapper-10">1 activity</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-23">
                  <div class="frame-24">
                    <div class="frame-25">
                      <img class="icon-px-2" src="img/icon-20-px-checkcircle.svg" />
                      <div class="frame-26">
                        <p class="text-wrapper-11">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                        <p class="div-2">
                          <span class="span">Video • </span> <span class="text-wrapper-12">3 min</span>
                        </p>
                      </div>
                    </div>
                    <img class="img-2" src="img/icon-20-px-downloadsimple-6.svg" />
                  </div>
                  <div class="frame-27">
                    <div class="frame-25">
                      <img class="icon-px-2" src="img/icon-24-px-stacksimple.svg" />
                      <div class="frame-26">
                        <p class="text-wrapper-11">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                        <p class="div-2">
                          <span class="span">Video • </span> <span class="text-wrapper-12">3 min</span>
                        </p>
                      </div>
                    </div>
                    <img class="img-2" src="img/icon-20-px-downloadsimple-6.svg" />
                  </div>
                  <div class="frame-24">
                    <div class="frame-25">
                      <img class="icon-px-2" src="img/icon-20-px-playcircle-31.svg" />
                      <div class="frame-26">
                        <p class="text-wrapper-11">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                        <p class="div-2">
                          <span class="span">Reading • </span> <span class="text-wrapper-12">10 min</span>
                        </p>
                      </div>
                    </div>
                    <img class="img-2" src="img/icon-20-px-downloadsimple-6.svg" />
                  </div>
                  <div class="frame-24">
                    <div class="frame-25">
                      <img class="icon-px-2" src="img/icon-24-px-stacksimple.svg" />
                      <div class="frame-26">
                        <p class="text-wrapper-11">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                        <p class="div-2">
                          <span class="span">VIdeo • </span> <span class="text-wrapper-12">3 min</span>
                        </p>
                      </div>
                    </div>
                    <img class="img-2" src="img/icon-20-px-downloadsimple-6.svg" />
                  </div>
                  <div class="frame-24">
                    <div class="frame-25">
                      <img class="icon-px-2" src="img/icon-20-px-playcircle-31.svg" />
                      <div class="frame-26">
                        <p class="text-wrapper-11">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                        <p class="div-2">
                          <span class="span">VIdeo • </span> <span class="text-wrapper-12">3 min</span>
                        </p>
                      </div>
                    </div>
                    <img class="img-2" src="img/icon-20-px-downloadsimple-6.svg" />
                  </div>
                  <div class="frame-24">
                    <div class="frame-25">
                      <img class="icon-px-2" src="img/icon-24-px-stacksimple.svg" />
                      <div class="frame-26">
                        <p class="text-wrapper-11">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                        <p class="div-2">
                          <span class="span">Activity Exemplar • </span> <span class="text-wrapper-12">10 min</span>
                        </p>
                      </div>
                    </div>
                    <img class="img-2" src="img/icon-20-px-downloadsimple-6.svg" />
                  </div>
                </div>
              </div>
              <div class="frame-17">
                <div class="frame-18">
                  <img class="frame-19" src="img/frame-9672.svg" />
                  <div class="frame-20">
                    <p class="text-wrapper-9">Lecture 2: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                    <div class="frame-21">
                      <div class="frame-22">
                        <img class="img-3" src="img/icon-20-px-playcircle-32.svg" />
                        <div class="text-wrapper-10">6 min</div>
                      </div>
                      <div class="frame-22">
                        <img class="img-3" src="img/icon-24-px-book-26.svg" />
                        <div class="text-wrapper-10">30 min</div>
                      </div>
                      <div class="frame-22">
                        <img class="img-3" src="img/icon-20-px-stacksimple-26.svg" />
                        <div class="text-wrapper-10">1 activity</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="frame-23">
                  <div class="frame-24">
                    <div class="frame-25">
                      <img class="icon-px-2" src="img/icon-20-px-playcircle-31.svg" />
                      <div class="frame-26">
                        <p class="text-wrapper-11">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                        <p class="div-2">
                          <span class="span">Video • </span> <span class="text-wrapper-12">3 min</span>
                        </p>
                      </div>
                    </div>
                    <img class="img-2" src="img/icon-20-px-downloadsimple-5.svg" />
                  </div>
                  <div class="frame-24">
                    <div class="frame-25">
                      <img class="icon-px-2" src="img/icon-20-px-playcircle-26.png" />
                      <div class="frame-26">
                        <p class="text-wrapper-11">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                        <p class="div-2">
                          <span class="span">Video • </span> <span class="text-wrapper-12">3 min</span>
                        </p>
                      </div>
                    </div>
                    <img class="img-2" src="img/icon-20-px-downloadsimple.png" />
                  </div>
                  <div class="frame-24">
                    <div class="frame-25">
                      <img class="icon-px-2" src="img/icon-20-px-playcircle-26.png" />
                      <div class="frame-26">
                        <p class="text-wrapper-11">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                        <p class="div-2">
                          <span class="span">Reading • </span> <span class="text-wrapper-12">10 min</span>
                        </p>
                      </div>
                    </div>
                    <img class="img-2" src="img/icon-20-px-downloadsimple.png" />
                  </div>
                  <div class="frame-24">
                    <div class="frame-25">
                      <img class="icon-px-2" src="img/icon-20-px-playcircle-26.png" />
                      <div class="frame-26">
                        <p class="text-wrapper-11">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                        <p class="div-2">
                          <span class="span">VIdeo • </span> <span class="text-wrapper-12">3 min</span>
                        </p>
                      </div>
                    </div>
                    <img class="img-2" src="img/icon-20-px-downloadsimple.png" />
                  </div>
                  <div class="frame-24">
                    <div class="frame-25">
                      <img class="icon-px-2" src="img/icon-20-px-playcircle-26.png" />
                      <div class="frame-26">
                        <p class="text-wrapper-11">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                        <p class="div-2">
                          <span class="span">VIdeo • </span> <span class="text-wrapper-12">3 min</span>
                        </p>
                      </div>
                    </div>
                    <img class="img-2" src="img/icon-20-px-downloadsimple.png" />
                  </div>
                  <div class="frame-24">
                    <div class="frame-25">
                      <img class="icon-px-2" src="img/icon-20-px-playcircle-26.png" />
                      <div class="frame-26">
                        <p class="text-wrapper-11">Lorem Ipsum bla bla bla bla bla bla bla bla bla bla</p>
                        <p class="div-2">
                          <span class="span">Activity Exemplar • </span> <span class="text-wrapper-12">10 min</span>
                        </p>
                      </div>
                    </div>
                    <img class="img-2" src="img/icon-20-px-downloadsimple.png" />
                  </div>
                </div>
              </div>
            </div>
            <div class="frame-4">
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-13">Lecture 3: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 4: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 5: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 6: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 7: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 8: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 9: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 10: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 11: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 12: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 13: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 14: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 15: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 16: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 17: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 18: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 19: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 20: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 21: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 22: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 23: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 24: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 25: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 26: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 27: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="frame-28">
                <img class="icon-px-2" src="img/icon-20-px-caretright.png" />
                <div class="frame-29">
                  <p class="text-wrapper-14">Lecture 28: Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla</p>
                  <div class="frame-21">
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-playcircle.png" />
                      <div class="text-wrapper-10">6 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-24-px-book.png" />
                      <div class="text-wrapper-10">32 min</div>
                    </div>
                    <div class="frame-22">
                      <img class="img-3" src="img/icon-20-px-stacksimple.png" />
                      <div class="text-wrapper-10">1 activity</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
