<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="study-method">
      <div class="div">
        <div class="navbar">
          <div class="container">
            <div class="content">
              <img class="image" src="img/image-1.png" />
              <div class="trailing-content">
                <div class="group">
                  <div class="overlap-group">
                    <img class="material-symbols" src="img/material-symbols-language.svg" />
                    <div class="ellipse"></div>
                  </div>
                </div>
                <div class="icon-px-wrapper"><img class="icon-px" src="img/icon-24-px-shoppingcart.svg" /></div>
                <button class="button"><div class="title-XL"><a href="/login" style="color: white;">Log In</a></div></button>
                <button class="button-2"><div class="title-XL"><a href="/signup" style="color: white;">Sign Up</a></div></button>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-bar">
          <div class="navbar-2">
            <div class="text-wrapper"><a href="/home" style="color: white;">Home</a></div>
            <div class="frame">
              <div class="div-wrapper"><div class="text-wrapper-2"><a href="/studymethod" style="color: white;">Study Method</a></div></div>
            </div>
            <div class="text-wrapper"><a href="/facility" style="color: white;">Facility</a></div>
            <div class="text-wrapper"><a href="/blog" style="color: white;">Blog</a></div>
            <div class="text-wrapper"><a href="/webinar" style="color: white;">Webinar</a>r</div>
            <div class="text-wrapper"><a href="/aboutus" style="color: white;">About Us</a></div>
          </div>
        </div>
      </div>
      <div class="header-section">
        <div class="overlap">
          <div class="content-wrapper">
            <div class="content-2">
              <div class="leading-content">
                <p class="heading">
                  <span class="span">This Is Our </span> <span class="text-wrapper-3">Study Methods</span>
                </p>
                <p class="supporting-text">
                  Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  bla bla bla bla bla bla bla bla
                </p>
              </div>
              <div class="CT-as">
                <div class="hero-sections-CTA" style="left: 35%;"><div class="text">Action Button</div></div>
                <div class="hero-sections-CTA-2" style="left: 35%;"><div class="text-2">Action Button</div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-help">
        <div class="container-2">
          <header class="header">
            <div class="div-2">
              <div class="eyebrow">STUDY METHODS</div>
              <p class="p">Our better way to teach students</p>
            </div>
            <p class="supporting-text-2">
              Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in
              accusamus quisquam.
            </p>
          </header>
          <div class="features">
            <div class="feature-sections">
              <img class="brand-icon" src="img/brand-icon-2.png" />
              <div class="content-3">
                <div class="title">Blended Learning</div>
                <p class="description">
                  Blended learning combines traditional classroom teaching with online elements. It integrates
                  face-to-face interaction and digital resources, offering a flexible and comprehensive approach to
                  education.
                </p>
              </div>
            </div>
            <img class="img" src="img/feature-sections-feature.png" />
            <div class="feature-sections-2">
              <img class="brand-icon" src="img/brand-icon-1.png" />
              <div class="content-3">
                <div class="title">E-Training</div>
                <p class="description">
                  E-training involves using digital tools to deliver educational content and instruction. It covers
                  online courses, workshops, and virtual training sessions.
                </p>
              </div>
            </div>
            <div class="feature-sections-3">
              <img class="brand-icon" src="img/brand-icon.png" />
              <div class="content-3">
                <div class="title">E-Learning</div>
                <p class="description">
                  E-learning is using digital tools, like the internet, for education. It includes online courses,
                  webinars, and virtual classrooms, offering flexible learning options for formal education and
                  training.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="selection-box">
        <div class="frame-2"><div class="text-wrapper-4">E-Learning</div></div>
        <div class="frame-3"><div class="text-wrapper-4">E-Training</div></div>
        <div class="frame-4"><div class="text-wrapper-4">Face to Face</div></div>
        <div class="frame-5"><div class="text-wrapper-4">Blended Learning</div></div>
        <div class="frame-6"><div class="text-wrapper-5">Show More</div></div>
        <div class="overlap-2">
          <div class="frame-7"><div class="text-wrapper-5">Show More</div></div>
          <div class="frame-7"><div class="text-wrapper-5">Show More</div></div>
        </div>
        <div class="frame-8"><div class="text-wrapper-5">Show More</div></div>
        <div class="frame-9"><div class="text-wrapper-5">Show More</div></div>
        <div class="frame-10">
          <div class="div">
            <div class="frame-11"></div>
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-7">Type Here</div>
              </div>
              <div class="div-3">
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-user-19.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                  </p>
                </div>
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-star-19.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-15">
                <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-11"></div>
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-7">Type Here</div>
              </div>
              <div class="div-3">
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-user-18.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                  </p>
                </div>
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-star-18.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-15">
                <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-11"></div>
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-7">Type Here</div>
              </div>
              <div class="div-3">
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-user-17.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                  </p>
                </div>
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-star-17.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-15">
                <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-11"></div>
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-7">Type Here</div>
              </div>
              <div class="div-3">
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-user-16.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                  </p>
                </div>
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-star-16.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-15">
                <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-3">
          <div class="frame-16">
            <div class="div">
              <div class="frame-17"></div>
              <div class="frame-18">
                <div class="frame-13">
                  <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                  <div class="text-wrapper-7">Type Here</div>
                </div>
                <div class="div-3">
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-user-15.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                    </p>
                  </div>
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-star-15.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                    </p>
                  </div>
                </div>
                <div class="frame-15">
                  <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                  <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
                </div>
              </div>
            </div>
            <div class="div">
              <div class="frame-17"></div>
              <div class="frame-18">
                <div class="frame-13">
                  <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                  <div class="text-wrapper-7">Type Here</div>
                </div>
                <div class="div-3">
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-user-14.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                    </p>
                  </div>
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-star-14.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                    </p>
                  </div>
                </div>
                <div class="frame-15">
                  <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                  <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
                </div>
              </div>
            </div>
            <div class="div">
              <div class="frame-17"></div>
              <div class="frame-18">
                <div class="frame-13">
                  <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                  <div class="text-wrapper-7">Type Here</div>
                </div>
                <div class="div-3">
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-user-13.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                    </p>
                  </div>
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-star-13.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                    </p>
                  </div>
                </div>
                <div class="frame-15">
                  <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                  <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
                </div>
              </div>
            </div>
            <div class="div">
              <div class="frame-17"></div>
              <div class="frame-18">
                <div class="frame-13">
                  <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                  <div class="text-wrapper-7">Type Here</div>
                </div>
                <div class="div-3">
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-user-12.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                    </p>
                  </div>
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-star-12.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                    </p>
                  </div>
                </div>
                <div class="frame-15">
                  <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                  <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-16">
            <div class="div">
              <div class="frame-19"></div>
              <div class="frame-12">
                <div class="frame-13">
                  <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                  <div class="text-wrapper-7">Type Here</div>
                </div>
                <div class="div-3">
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-user-11.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                    </p>
                  </div>
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-star-11.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                    </p>
                  </div>
                </div>
                <div class="frame-15">
                  <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                  <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
                </div>
              </div>
            </div>
            <div class="div">
              <div class="frame-19"></div>
              <div class="frame-12">
                <div class="frame-13">
                  <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                  <div class="text-wrapper-7">Type Here</div>
                </div>
                <div class="div-3">
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-user-10.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                    </p>
                  </div>
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-star-10.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                    </p>
                  </div>
                </div>
                <div class="frame-15">
                  <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                  <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
                </div>
              </div>
            </div>
            <div class="div">
              <div class="frame-19"></div>
              <div class="frame-12">
                <div class="frame-13">
                  <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                  <div class="text-wrapper-7">Type Here</div>
                </div>
                <div class="div-3">
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-user-9.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                    </p>
                  </div>
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-star-9.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                    </p>
                  </div>
                </div>
                <div class="frame-15">
                  <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                  <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
                </div>
              </div>
            </div>
            <div class="div">
              <div class="frame-19"></div>
              <div class="frame-12">
                <div class="frame-13">
                  <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                  <div class="text-wrapper-7">Type Here</div>
                </div>
                <div class="div-3">
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-user-8.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                    </p>
                  </div>
                  <div class="frame-14">
                    <img class="img-2" src="img/fi-rr-star-8.svg" />
                    <p class="div-4">
                      <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                    </p>
                  </div>
                </div>
                <div class="frame-15">
                  <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                  <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-20">
          <div class="div">
            <div class="frame-21"></div>
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-7">Type Here</div>
              </div>
              <div class="div-3">
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-user-7.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                  </p>
                </div>
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-star-7.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="button-wrapper">
                <button class="button-5"><div class="text-wrapper-10">Details</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <img class="frame-22" src="img/frame-34789-6.png" />
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-7">Type Here</div>
              </div>
              <div class="div-3">
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-user-6.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                  </p>
                </div>
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-star-6.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="button-wrapper">
                <button class="button-5"><div class="text-wrapper-10">Details</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-21"></div>
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-7">Type Here</div>
              </div>
              <div class="div-3">
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-user-5.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                  </p>
                </div>
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-star-5.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="button-wrapper">
                <button class="button-6"><div class="text-wrapper-10">Details</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-21"></div>
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-7">Type Here</div>
              </div>
              <div class="div-3">
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-user-4.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                  </p>
                </div>
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-star-4.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="button-wrapper">
                <button class="button-6"><div class="text-wrapper-10">Details</div></button>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-23">
          <div class="div">
            <div class="frame-24"></div>
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-7">Type Here</div>
              </div>
              <div class="div-3">
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-user-3.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                  </p>
                </div>
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-star-3.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-15">
                <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-24"></div>
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-7">Type Here</div>
              </div>
              <div class="div-3">
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-user-2.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                  </p>
                </div>
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-star-2.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-15">
                <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-24"></div>
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-7">Type Here</div>
              </div>
              <div class="div-3">
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-user-1.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                  </p>
                </div>
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-star-1.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-15">
                <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
              </div>
            </div>
          </div>
          <div class="div">
            <div class="frame-24"></div>
            <div class="frame-12">
              <div class="frame-13">
                <p class="text-wrapper-6">Lorem Ipsum bla bla bla</p>
                <div class="text-wrapper-7">Type Here</div>
              </div>
              <div class="div-3">
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-user.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Members</span> <span class="text-wrapper-9"> Joined</span>
                  </p>
                </div>
                <div class="frame-14">
                  <img class="img-2" src="img/fi-rr-star.svg" />
                  <p class="div-4">
                    <span class="text-wrapper-8">000k Reviews</span> <span class="text-wrapper-9"> This Year</span>
                  </p>
                </div>
              </div>
              <div class="frame-15">
                <button class="button-3"><div class="text-wrapper-10">Details</div></button>
                <button class="button-4"><div class="text-wrapper-11">Add to Cart</div></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container-3">
          <div class="links-and-newsletter">
            <div class="frame-25">
              <div class="frame-26">
                <div class="div-3">
                  <div class="heading-2">COURSES</div>
                  <div class="div-2">
                    <div class="footers-text-link"><p class="text-wrapper-12">2 Year online MBA General</p></div>
                    <div class="footers-text-link"><div class="text-wrapper-12">Certificate in HRM</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-12">Certificate in Marketing</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-12">Certificate in Finance</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-12">Corporate Programs</div></div>
                  </div>
                </div>
                <div class="div-3">
                  <div class="heading-2">CALL CENTER</div>
                  <div class="div-5">
                    <div class="footers-text-link"><div class="text-wrapper-12">0811 1084 800</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-12">(021) 24579999 Ext. 62024</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-12">(021) 4603931</div></div>
                    <div class="footer-social-links"></div>
                  </div>
                </div>
                <div class="div-3">
                  <div class="heading-2">ABOUT US</div>
                  <div class="div-5">
                    <div class="footers-text-link"><div class="text-wrapper-12">UTSchool of institution</div></div>
                    <div class="footers-text-link">
                      <div class="text-wrapper-12">Our Institutes and Universities</div>
                    </div>
                    <div class="footers-text-link"><div class="text-wrapper-12">Management Team</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-12">Approval and Recognition</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-12">valuation &amp; Assesment</div></div>
                  </div>
                </div>
              </div>
              <div class="newsletter">
                <div class="div-5">
                  <div class="heading-3">SUBSCRIBE TO OUR NEWSLETTER</div>
                  <p class="supporting-text-3">The latest news, articles, and resources, sent to your inbox weekly.</p>
                </div>
                <div class="footers-subscribe">
                  <div class="footers-text-input"><div class="text-wrapper-12">Enter your email</div></div>
                  <div class="footers-submit"><div class="text-3">Subscribe</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-2">
            <div class="top-border"></div>
            <div class="social-links-and">
              <p class="copyright">
                <span class="text-wrapper-13">© 2023 </span>
                <span class="text-wrapper-14">Vocatic Powered By UT School</span>
              </p>
              <img class="footer-social-links" src="img/footer-social-links.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
