<%- include('../template/header')-%>
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="webinar-section">
      
      <div class="header-section">
        <div class="overlap">
          <div class="banner-image"></div>
          <img class="angled-separator" src="img/angled-separator.svg" />
          <div class="content-wrapper">
            <div class="leading-content-wrapper">
              <div class="leading-content">
                <div class="text">
                  <p class="heading">Lorem Ipsum bla bla bla</p>
                  <p class="supporting-text">
                    Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                    bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                  </p>
                </div>
                <div class="div-2">
                  <div class="div-wrapper"><div class="text-wrapper-3">Action Button</div></div>
                  <div class="hero-sections-CTA"><div class="text-2">Action Button</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info-help">
        <div class="overlap-2">
          <div class="frame-2">
            <div class="frame-3"><p class="p">Getting Started with us is easy</p></div>
            <p class="text-wrapper-4">
              Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
              bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            </p>
          </div>
          <img class="line" src="img/line-1.svg" />
          <img class="img" src="img/line-2.svg" />
          <img class="line-2" src="img/line-3.svg" />
        </div>
        <div class="frame-4">
          <img class="rectangle" src="img/rectangle-1.png" />
          <div class="frame-5">
            <div class="frame-6">
              <div class="frame-7">
                <div class="text-wrapper-5">01</div>
                <div class="text-wrapper-6">Create Account</div>
              </div>
              <p class="text-wrapper-7">
                You’ll be typically asked to provide your name, email, address, and other of details
              </p>
            </div>
            <div class="frame-5">
              <div class="frame-8">
                <img class="icon-px-2" src="img/icon-24-px-circlewavycheck.svg" />
                <p class="div-3">
                  <span class="span">Easy set the registration options,</span>
                  <span class="text-wrapper-8"> customize the registration process for attendees.</span>
                </p>
              </div>
              <div class="frame-8">
                <img class="icon-px-2" src="img/icon-24-px-circlewavycheck.svg" />
                <p class="div-3">
                  <span class="span">Secure Privacy Settings,</span>
                  <span class="text-wrapper-8"> essentials to maintain the trust of the attendees</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-9">
          <div class="frame-wrapper">
            <div class="frame-10">
              <div class="frame-7">
                <div class="text-wrapper-9">01</div>
                <div class="text-wrapper-10">Create Account</div>
              </div>
              <p class="text-wrapper-11">
                You’ll be typically asked to provide your name, email, address, and other of details
              </p>
            </div>
          </div>
          <div class="frame-11">
            <div class="frame-10">
              <div class="frame-7">
                <div class="text-wrapper-12">02</div>
                <div class="text-wrapper-13">Join Any Webinar</div>
              </div>
              <p class="text-wrapper-14">This should take you to the webinar platform where you can join any webinar</p>
            </div>
          </div>
          <div class="frame-11">
            <div class="frame-10">
              <div class="frame-7">
                <div class="text-wrapper-12">03</div>
                <div class="text-wrapper-13">Follow the instruction</div>
              </div>
              <p class="text-wrapper-14">
                Once you join the webinar, follow the instructions provided by the organizer.
              </p>
            </div>
          </div>
          <div class="frame-11">
            <div class="frame-10">
              <div class="frame-7">
                <div class="text-wrapper-12">04</div>
                <div class="text-wrapper-13">Participate the Webinar</div>
              </div>
              <p class="text-wrapper-14">
                During the webinar, listen to the presenter and participate in any interactive activities or discussions
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="selection-box">
        <div class="frame-12">
          <img class="rectangle-2" src="img/rectangle-291.png" />
          <div class="frame-13">
            <div class="frame-14">
              <p class="text-wrapper-15">Lorem Ipsum Bla bla bla</p>
              <p class="text-wrapper-16">
                Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
              </p>
            </div>
            <div class="frame-15">
              <div class="frame-16">
                <img class="img-2" src="img/octicon-person-24.svg" />
                <div class="text-wrapper-17">Name</div>
              </div>
              <div class="frame-16">
                <img class="img-2" src="img/icon-park-outline-time.svg" />
                <div class="text-wrapper-17">Time</div>
              </div>
            </div>
            <div class="frame-17"><div class="text-wrapper-18">Join In</div></div>
          </div>
        </div>
        <div class="frame-18">
          <img class="rectangle-2" src="img/rectangle-291.png" />
          <div class="frame-13">
            <div class="frame-14">
              <p class="text-wrapper-15">Lorem Ipsum Bla bla bla</p>
              <p class="text-wrapper-16">
                Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
              </p>
            </div>
            <div class="frame-15">
              <div class="frame-16">
                <img class="img-2" src="img/octicon-person-24.svg" />
                <div class="text-wrapper-17">Name</div>
              </div>
              <div class="frame-16">
                <img class="img-2" src="img/icon-park-outline-time.svg" />
                <div class="text-wrapper-17">Time</div>
              </div>
            </div>
            <div class="frame-17"><div class="text-wrapper-18">Join In</div></div>
          </div>
        </div>
        <div class="frame-19">
          <img class="rectangle-2" src="img/rectangle-291.png" />
          <div class="frame-13">
            <div class="frame-14">
              <p class="text-wrapper-15">Lorem Ipsum Bla bla bla</p>
              <p class="text-wrapper-16">
                Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
              </p>
            </div>
            <div class="frame-15">
              <div class="frame-16">
                <img class="img-2" src="img/octicon-person-24.svg" />
                <div class="text-wrapper-17">Name</div>
              </div>
              <div class="frame-16">
                <img class="img-2" src="img/icon-park-outline-time.svg" />
                <div class="text-wrapper-17">Time</div>
              </div>
            </div>
            <div class="frame-17"><div class="text-wrapper-18">Join In</div></div>
          </div>
        </div>
        <div class="frame-20">
          <div class="rectangle-3"></div>
          <div class="text-wrapper-19">On Going Webinar</div>
        </div>
        <div class="frame-21">
          <img class="rectangle-2" src="img/rectangle-291.png" />
          <div class="frame-13">
            <div class="frame-14">
              <p class="text-wrapper-15">Lorem Ipsum Bla bla bla</p>
              <p class="text-wrapper-16">
                Lorem Ipsum bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
                bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
              </p>
            </div>
            <div class="frame-15">
              <div class="frame-16">
                <img class="img-2" src="img/octicon-person-24.svg" />
                <div class="text-wrapper-17">Name</div>
              </div>
              <div class="frame-16">
                <img class="img-2" src="img/icon-park-outline-time.svg" />
                <div class="text-wrapper-17">Time</div>
              </div>
            </div>
            <div class="frame-17"><div class="text-wrapper-18">Join In</div></div>
          </div>
        </div>
        <div class="frame-22"><div class="text-wrapper-20">Load More</div></div>
      </div>
      <div class="footer">
        <div class="container-2">
          <div class="links-and-newsletter">
            <div class="frame-23">
              <div class="frame-24">
                <div class="footers-column">
                  <div class="heading-2">COURSES</div>
                  <div class="links">
                    <div class="footers-text-link"><p class="text-wrapper-21">2 Year online MBA General</p></div>
                    <div class="footers-text-link"><div class="text-wrapper-21">Certificate in HRM</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-21">Certificate in Marketing</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-21">Certificate in Finance</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-21">Corporate Programs</div></div>
                  </div>
                </div>
                <div class="footers-column">
                  <div class="heading-2">CALL CENTER</div>
                  <div class="div-4">
                    <div class="footers-text-link"><div class="text-wrapper-21">0811 1084 800</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-21">(021) 24579999 Ext. 62024</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-21">(021) 4603931</div></div>
                    <div class="footer-social-links"></div>
                  </div>
                </div>
                <div class="footers-column">
                  <div class="heading-2">ABOUT US</div>
                  <div class="div-4">
                    <div class="footers-text-link"><div class="text-wrapper-21">UTSchool of institution</div></div>
                    <div class="footers-text-link">
                      <div class="text-wrapper-21">Our Institutes and Universities</div>
                    </div>
                    <div class="footers-text-link"><div class="text-wrapper-21">Management Team</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-21">Approval and Recognition</div></div>
                    <div class="footers-text-link"><div class="text-wrapper-21">valuation &amp; Assesment</div></div>
                  </div>
                </div>
              </div>
              <div class="newsletter">
                <div class="div-4">
                  <div class="heading-3">SUBSCRIBE TO OUR NEWSLETTER</div>
                  <p class="supporting-text-2">The latest news, articles, and resources, sent to your inbox weekly.</p>
                </div>
                <div class="div-2">
                  <div class="footers-text-input"><div class="text-wrapper-21">Enter your email</div></div>
                  <div class="footers-submit"><div class="text-3">Subscribe</div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer-2">
            <div class="top-border"></div>
            <div class="social-links-and">
              <p class="copyright">
                <span class="text-wrapper-22">© 2023 </span>
                <span class="text-wrapper-23">Vocatic Powered By UT School</span>
              </p>
              <img class="footer-social-links" src="img/footer-social-links.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
