:root {
  --navbar-banner: rgba(102, 102, 102, 1);
  --primary: rgba(234, 190, 13, 1);
  --secondary: rgba(44, 151, 234, 1);
  --third: rgba(78, 200, 35, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-1: rgba(249, 250, 252, 1);
  --text-2: rgba(184, 191, 201, 1);
  --text-3: rgba(121, 121, 121, 1);
  --text-black: rgba(32, 32, 32, 1);
  --footer: rgba(51, 51, 51, 1);
  --danger: rgba(219, 51, 31, 1);
  --gray-300: rgba(209, 213, 219, 1);
  --white: rgba(255, 255, 255, 1);
  --gray-500: rgba(107, 114, 128, 1);
  --gray-900: rgba(17, 24, 39, 1);
  --label3-16-semibold-font-family: "Inter-SemiBold", Helvetica;
  --label3-16-semibold-font-weight: 600;
  --label3-16-semibold-font-size: 16px;
  --label3-16-semibold-letter-spacing: -0.30000001192092896px;
  --label3-16-semibold-line-height: 139.9999976158142%;
  --label3-16-semibold-font-style: normal;
  --text-xl-leading-7-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-xl-leading-7-font-normal-font-weight: 400;
  --text-xl-leading-7-font-normal-font-size: 20px;
  --text-xl-leading-7-font-normal-letter-spacing: 0px;
  --text-xl-leading-7-font-normal-line-height: 28px;
  --text-xl-leading-7-font-normal-font-style: normal;
  --text-lg-leading-7-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-lg-leading-7-font-medium-font-weight: 500;
  --text-lg-leading-7-font-medium-font-size: 18px;
  --text-lg-leading-7-font-medium-letter-spacing: 0px;
  --text-lg-leading-7-font-medium-line-height: 28px;
  --text-lg-leading-7-font-medium-font-style: normal;
  --text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-family: "Inter-SemiBold", Helvetica;
  --text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-weight: 600;
  --text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-size: 14px;
  --text-sm-leading-5-font-semibold-tracking-wider-uppercase-letter-spacing: 0.7px;
  --text-sm-leading-5-font-semibold-tracking-wider-uppercase-line-height: 20px;
  --text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-style: normal;
  --text-base-leading-6-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-base-leading-6-font-normal-font-weight: 400;
  --text-base-leading-6-font-normal-font-size: 16px;
  --text-base-leading-6-font-normal-letter-spacing: 0px;
  --text-base-leading-6-font-normal-line-height: 24px;
  --text-base-leading-6-font-normal-font-style: normal;
  --text-base-leading-6-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-base-leading-6-font-medium-font-weight: 500;
  --text-base-leading-6-font-medium-font-size: 16px;
  --text-base-leading-6-font-medium-letter-spacing: 0px;
  --text-base-leading-6-font-medium-line-height: 24px;
  --text-base-leading-6-font-medium-font-style: normal;
  --shadow-base: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
