.login {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.login .nav-bar {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.login .navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--navbar-banner);
  box-shadow: 0px 0px 15px #0000001a;
}

.login .container {
  align-items: center;
  gap: 40px;
  padding: 24px;
  display: flex;
  width: 100%;
  position: relative;
}

.login .content {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 42px;
}

.login .image {
  position: absolute;
  width: 200px;
  height: 60px;
  top: -9px;
  left: 2px;
  object-fit: cover;
}

.login .trailing-content {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  position: absolute;
  top: -2px;
  left: 927px;
}

.login .group {
  position: relative;
  width: 40px;
  height: 40px;
}

.login .overlap-group {
  position: relative;
  height: 40px;
  border-radius: 20px;
}

.login .material-symbols {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 4px;
  left: 4px;
}

.login .ellipse {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  border-radius: 20px;
  border: 2px solid;
  border-color: var(--text-white);
}

.login .icon-px-wrapper {
  border-radius: 20px;
  border: 2px solid;
  border-color: var(--text-white);
  position: relative;
  width: 40px;
  height: 40px;
}

.login .icon-px {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 6px;
  left: 5px;
}

.login .button {
  display: inline-flex;
  flex: 0 0 auto;
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0px 24px;
  position: relative;
  border-radius: 8px;
  all: unset;
  box-sizing: border-box;
}

.login .title-XL {
  position: relative;
  width: fit-content;
  font-family: var(--label3-16-semibold-font-family);
  font-weight: var(--label3-16-semibold-font-weight);
  color: var(--text-white);
  font-size: var(--label3-16-semibold-font-size);
  text-align: center;
  letter-spacing: var(--label3-16-semibold-letter-spacing);
  line-height: var(--label3-16-semibold-line-height);
  white-space: nowrap;
  font-style: var(--label3-16-semibold-font-style);
}

.login .div {
  display: inline-flex;
  flex: 0 0 auto;
  background-color: var(--primary);
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0px 24px;
  position: relative;
  border-radius: 8px;
  all: unset;
  box-sizing: border-box;
}

.login .navbar-wrapper {
  position: relative;
  width: 100%;
  height: 76px;
  background-color: var(--primary);
}

.login .navbar-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 64px;
  position: relative;
  top: 26px;
  left: 110px;
}

.login .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.7;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: var(--text-white);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25.2px;
  white-space: nowrap;
}

.login .sign-in {
  position: relative;
  width: 100%;
  height: 858px;
  background-color: var(--text-white);
}

.login .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  position: relative;
  top: 127px;
  left: 402px;
}

.login .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--sub-heading1-40-bold-font-family);
  font-weight: var(--sub-heading1-40-bold-font-weight);
  color: var(--primary);
  font-size: var(--sub-heading1-40-bold-font-size);
  letter-spacing: var(--sub-heading1-40-bold-letter-spacing);
  line-height: var(--sub-heading1-40-bold-line-height);
  white-space: nowrap;
  font-style: var(--sub-heading1-40-bold-font-style);
}

.login .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--background-400);
}

.login .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.login .frame-4 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.login .p {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--sub-heading3-28-bold-font-family);
  font-weight: var(--sub-heading3-28-bold-font-weight);
  color: var(--third);
  font-size: var(--sub-heading3-28-bold-font-size);
  letter-spacing: var(--sub-heading3-28-bold-letter-spacing);
  line-height: var(--sub-heading3-28-bold-line-height);
  white-space: nowrap;
  font-style: var(--sub-heading3-28-bold-font-style);
}

.login .welcome-back-sign-in {
  position: relative;
  width: fit-content;
  font-family: var(--label4-14-medium-font-family);
  font-weight: var(--label4-14-medium-font-weight);
  color: var(--text-900);
  font-size: var(--label4-14-medium-font-size);
  text-align: center;
  letter-spacing: var(--label4-14-medium-letter-spacing);
  line-height: var(--label4-14-medium-line-height);
  font-style: var(--label4-14-medium-font-style);
}

.login .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.login .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.login .div-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--label2-18-semibold-font-family);
  font-weight: var(--label2-18-semibold-font-weight);
  color: transparent;
  font-size: var(--label2-18-semibold-font-size);
  letter-spacing: var(--label2-18-semibold-letter-spacing);
  line-height: var(--label2-18-semibold-line-height);
  white-space: nowrap;
  font-style: var(--label2-18-semibold-font-style);
}

.login .span {
  font-weight: var(--label2-18-semibold-font-weight);
  color: #202020;
  font-family: var(--label2-18-semibold-font-family);
  font-style: var(--label2-18-semibold-font-style);
  letter-spacing: var(--label2-18-semibold-letter-spacing);
  line-height: var(--label2-18-semibold-line-height);
  font-size: var(--label2-18-semibold-font-size);
}

.login .text-wrapper-3 {
  color: #db331f;
  font-family: var(--label2-18-semibold-font-family);
  font-style: var(--label2-18-semibold-font-style);
  font-weight: var(--label2-18-semibold-font-weight);
  letter-spacing: var(--label2-18-semibold-letter-spacing);
  line-height: var(--label2-18-semibold-line-height);
  font-size: var(--label2-18-semibold-font-size);
}

.login .div-4 {
  position: relative;
  width: 587px;
  height: 46px;
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--background-400);
}

.login .frame-6 {
  display: flex;
  width: 587px;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.login .text-chackbox {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.login .check-box {
  position: relative;
  width: 24px;
  height: 24px;
  background-color: var(--text-1);
  border-radius: 4px;
  border: 2px solid;
  border-color: var(--text-2);
}

.login .text-wrapper-4 {
  position: relative;
  flex: 1;
  font-family: var(--label4-14-medium-font-family);
  font-weight: var(--label4-14-medium-font-weight);
  color: var(--text-900);
  font-size: var(--label4-14-medium-font-size);
  letter-spacing: var(--label4-14-medium-letter-spacing);
  line-height: var(--label4-14-medium-line-height);
  font-style: var(--label4-14-medium-font-style);
}

.login .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: var(--label4-14-medium-font-family);
  font-weight: var(--label4-14-medium-font-weight);
  color: var(--text-900);
  font-size: var(--label4-14-medium-font-size);
  letter-spacing: var(--label4-14-medium-letter-spacing);
  line-height: var(--label4-14-medium-line-height);
  white-space: nowrap;
  font-style: var(--label4-14-medium-font-style);
}

.login .button-2 {
  display: flex;
  width: 587px;
  background-color: #dfe5ee;
  height: 46px;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0px 24px;
  position: relative;
  border-radius: 8px;
  all: unset;
  box-sizing: border-box;
}

.login .frame-7 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
}

.login .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--label3-16-semibold-font-family);
  font-weight: var(--label3-16-semibold-font-weight);
  color: var(--text-900);
  font-size: var(--label3-16-semibold-font-size);
  text-align: center;
  letter-spacing: var(--label3-16-semibold-letter-spacing);
  line-height: var(--label3-16-semibold-line-height);
  white-space: nowrap;
  font-style: var(--label3-16-semibold-font-style);
}

.login .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--label3-16-semibold-font-family);
  font-weight: var(--label3-16-semibold-font-weight);
  color: var(--secondary);
  font-size: var(--label3-16-semibold-font-size);
  text-align: center;
  letter-spacing: var(--label3-16-semibold-letter-spacing);
  line-height: var(--label3-16-semibold-line-height);
  white-space: nowrap;
  font-style: var(--label3-16-semibold-font-style);
}

.login .footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: var(--footer);
  position: relative;
  flex: 0 0 auto;
}

.login .container-2 {
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 32px;
  flex: 0 0 auto;
  display: flex;
  width: 100%;
  position: relative;
}

.login .links-and-newsletter {
  display: flex;
  flex-direction: column;
  width: 1216px;
  align-items: flex-start;
  padding: 0px 0px 32px;
  position: relative;
  flex: 0 0 auto;
}

.login .frame-8 {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .frame-9 {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.login .heading {
  color: var(--text-white);
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-family);
  font-weight: var(--text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-weight);
  font-size: var(--text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-size);
  letter-spacing: var(--text-sm-leading-5-font-semibold-tracking-wider-uppercase-letter-spacing);
  line-height: var(--text-sm-leading-5-font-semibold-tracking-wider-uppercase-line-height);
  font-style: var(--text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-style);
}

.login .links {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .footers-text-link {
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  position: relative;
}

.login .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-base-leading-6-font-normal-font-family);
  font-weight: var(--text-base-leading-6-font-normal-font-weight);
  color: var(--text-2);
  font-size: var(--text-base-leading-6-font-normal-font-size);
  letter-spacing: var(--text-base-leading-6-font-normal-letter-spacing);
  line-height: var(--text-base-leading-6-font-normal-line-height);
  white-space: nowrap;
  font-style: var(--text-base-leading-6-font-normal-font-style);
}

.login .div-5 {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .footer-social-links {
  position: relative;
  flex: 0 0 auto;
}

.login .newsletter {
  display: flex;
  flex-direction: column;
  width: 384px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
}

.login .heading-2 {
  color: var(--text-2);
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-family);
  font-weight: var(--text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-weight);
  font-size: var(--text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-size);
  letter-spacing: var(--text-sm-leading-5-font-semibold-tracking-wider-uppercase-letter-spacing);
  line-height: var(--text-sm-leading-5-font-semibold-tracking-wider-uppercase-line-height);
  font-style: var(--text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-style);
}

.login .supporting-text {
  position: relative;
  align-self: stretch;
  font-family: var(--text-base-leading-6-font-normal-font-family);
  font-weight: var(--text-base-leading-6-font-normal-font-weight);
  color: var(--text-2);
  font-size: var(--text-base-leading-6-font-normal-font-size);
  letter-spacing: var(--text-base-leading-6-font-normal-letter-spacing);
  line-height: var(--text-base-leading-6-font-normal-line-height);
  font-style: var(--text-base-leading-6-font-normal-font-style);
}

.login .footers-subscribe {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .footers-text-input {
  display: flex;
  padding: 9px 13px;
  flex: 1;
  flex-grow: 1;
  background-color: var(--text-white);
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid;
  align-items: center;
  position: relative;
  border-color: var(--text-white);
}

.login .footers-submit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 9px 17px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--secondary);
  border-radius: 6px;
  overflow: hidden;
}

.login .text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-base-leading-6-font-medium-font-family);
  font-weight: var(--text-base-leading-6-font-medium-font-weight);
  color: var(--text-white);
  font-size: var(--text-base-leading-6-font-medium-font-size);
  letter-spacing: var(--text-base-leading-6-font-medium-letter-spacing);
  line-height: var(--text-base-leading-6-font-medium-line-height);
  white-space: nowrap;
  font-style: var(--text-base-leading-6-font-medium-font-style);
}

.login .footer-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  position: relative;
  flex: 0 0 auto;
}

.login .top-border {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  background-color: var(--text-3);
}

.login .social-links-and {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.login .copyright {
  position: relative;
  width: 315px;
  margin-top: -1px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}

.login .text-wrapper-9 {
  color: #b8bfc9;
  font-family: var(--text-base-leading-6-font-normal-font-family);
  font-style: var(--text-base-leading-6-font-normal-font-style);
  font-weight: var(--text-base-leading-6-font-normal-font-weight);
  letter-spacing: var(--text-base-leading-6-font-normal-letter-spacing);
  line-height: var(--text-base-leading-6-font-normal-line-height);
  font-size: var(--text-base-leading-6-font-normal-font-size);
}

.login .text-wrapper-10 {
  font-weight: 700;
  color: #ffffff;
}
