:root {
  --navbar-banner: rgba(102, 102, 102, 1);
  --primary: rgba(234, 190, 13, 1);
  --secondary: rgba(44, 151, 234, 1);
  --third: rgba(78, 200, 35, 1);
  --text-white: rgba(255, 255, 255, 1);
  --text-1: rgba(249, 250, 252, 1);
  --text-2: rgba(184, 191, 201, 1);
  --text-3: rgba(121, 121, 121, 1);
  --text-black: rgba(32, 32, 32, 1);
  --footer: rgba(51, 51, 51, 1);
  --danger: rgba(219, 51, 31, 1);
  --surface-200: rgba(249, 250, 252, 1);
  --neutral-900: rgba(32, 32, 32, 1);
  --neutral-500: rgba(121, 121, 121, 1);
  --gray-300: rgba(209, 213, 219, 1);
  --white: rgba(255, 255, 255, 1);
  --gray-500: rgba(107, 114, 128, 1);
  --gray-900: rgba(17, 24, 39, 1);
  --label3-16-semibold-font-family: "Inter-SemiBold", Helvetica;
  --label3-16-semibold-font-weight: 600;
  --label3-16-semibold-font-size: 16px;
  --label3-16-semibold-letter-spacing: -0.30000001192092896px;
  --label3-16-semibold-line-height: 139.9999976158142%;
  --label3-16-semibold-font-style: normal;
  --label2-18-medium-font-family: "Inter-Medium", Helvetica;
  --label2-18-medium-font-weight: 500;
  --label2-18-medium-font-size: 18px;
  --label2-18-medium-letter-spacing: -0.30000001192092896px;
  --label2-18-medium-line-height: 139.9999976158142%;
  --label2-18-medium-font-style: normal;
  --heading4-42-bold-font-family: "Inter-Bold", Helvetica;
  --heading4-42-bold-font-weight: 700;
  --heading4-42-bold-font-size: 42px;
  --heading4-42-bold-letter-spacing: 0px;
  --heading4-42-bold-line-height: 110.00000238418579%;
  --heading4-42-bold-font-style: normal;
  --label3-16-regular-font-family: "Inter-Regular", Helvetica;
  --label3-16-regular-font-weight: 400;
  --label3-16-regular-font-size: 16px;
  --label3-16-regular-letter-spacing: -0.30000001192092896px;
  --label3-16-regular-line-height: 139.9999976158142%;
  --label3-16-regular-font-style: normal;
  --sub-heading4-24-bold-font-family: "Inter-Bold", Helvetica;
  --sub-heading4-24-bold-font-weight: 700;
  --sub-heading4-24-bold-font-size: 24px;
  --sub-heading4-24-bold-letter-spacing: -0.5px;
  --sub-heading4-24-bold-line-height: 120.00000476837158%;
  --sub-heading4-24-bold-font-style: normal;
  --label2-18-regular-font-family: "Inter-Regular", Helvetica;
  --label2-18-regular-font-weight: 400;
  --label2-18-regular-font-size: 18px;
  --label2-18-regular-letter-spacing: -0.30000001192092896px;
  --label2-18-regular-line-height: 139.9999976158142%;
  --label2-18-regular-font-style: normal;
  --display-2-semibold-font-family: "Inter-SemiBold", Helvetica;
  --display-2-semibold-font-weight: 600;
  --display-2-semibold-font-size: 48px;
  --display-2-semibold-letter-spacing: 0px;
  --display-2-semibold-line-height: 110.00000238418579%;
  --display-2-semibold-font-style: normal;
  --headline-4-bold-font-family: "Inter-Bold", Helvetica;
  --headline-4-bold-font-weight: 700;
  --headline-4-bold-font-size: 24px;
  --headline-4-bold-letter-spacing: 0px;
  --headline-4-bold-line-height: 120.00000476837158%;
  --headline-4-bold-font-style: normal;
  --paragraf-1-regular-font-family: "Inter-Regular", Helvetica;
  --paragraf-1-regular-font-weight: 400;
  --paragraf-1-regular-font-size: 16px;
  --paragraf-1-regular-letter-spacing: 0px;
  --paragraf-1-regular-line-height: 139.9999976158142%;
  --paragraf-1-regular-font-style: normal;
  --text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-family: "Inter-SemiBold", Helvetica;
  --text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-weight: 600;
  --text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-size: 14px;
  --text-sm-leading-5-font-semibold-tracking-wider-uppercase-letter-spacing: 0.7px;
  --text-sm-leading-5-font-semibold-tracking-wider-uppercase-line-height: 20px;
  --text-sm-leading-5-font-semibold-tracking-wider-uppercase-font-style: normal;
  --text-base-leading-6-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-base-leading-6-font-normal-font-weight: 400;
  --text-base-leading-6-font-normal-font-size: 16px;
  --text-base-leading-6-font-normal-letter-spacing: 0px;
  --text-base-leading-6-font-normal-line-height: 24px;
  --text-base-leading-6-font-normal-font-style: normal;
  --text-base-leading-6-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-base-leading-6-font-medium-font-weight: 500;
  --text-base-leading-6-font-medium-font-size: 16px;
  --text-base-leading-6-font-medium-letter-spacing: 0px;
  --text-base-leading-6-font-medium-line-height: 24px;
  --text-base-leading-6-font-medium-font-style: normal;
}
